/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/ability_hud_element_unit_target.vcss_c");
.ability_element_unit_target .unit_target_instance,.ability_element_unit_target #unit_target,.ability_element_unit_target #unscaled_panel,.ability_element_unit_target #scaled_panel,.ability_element_unit_target .target_shape,.ability_element_unit_target .target_shape .diamond,.ability_element_unit_target .target_shape .diamond_inner
{
	overflow: noclip;
}

.ability_element_unit_target .target_shape .diamond,.ability_element_unit_target .target_shape .diamond_inner
{
	clip: none;
}

.ability_element_unit_target .target_shape .diamond
{
	width: 68%;
	height: 68%;
}

.ability_element_unit_target .target_shape .diamond_inner
{
	width: 68%;
	height: 68%;
	border: 6px solid #ffffff;
}

.ability_element_unit_target .small_unit_target .target_shape .diamond
{
	border: 2px solid #c0fff790;
}

.ability_element_unit_target .small_unit_target .target_shape .diamond_inner
{
	border: 4px solid #ffffff;
}

.red_diamond_active .unit_target_instance,.red_diamond_active #unit_target,.red_diamond_active #unscaled_panel,.red_diamond_active #scaled_panel,.red_diamond_active .target_shape
{
	overflow: noclip;
}

.red_diamond_active .target_shape
{
	width: 100%;
	height: 100%;
	position: 0px 14% 0px;
}

.red_diamond_active .ability_element_unit_target .target_shape .diamond
{
	width: 25%;
	height: 25%;
	border: 2px solid #ffffff;
	clip: radial( 50% 50%, 160deg, 310deg );
}

.red_diamond_active .ability_element_unit_target .target_shape .diamond_inner
{
	width: 25%;
	height: 25%;
	border: 2px solid #ffffff;
	clip: radial( 50% 50%, 160deg, 310deg );
}

.red_diamond_active .ability_element_unit_target .shiv_can_kill .target_shape .diamond
{
	border: 4px solid #ff0000;
}

.red_diamond_active .ability_element_unit_target .shiv_can_kill .target_shape .diamond_inner
{
	animation-duration: 0.4s;
	animation-name: Focus_In;
	border: 2px solid #ff0000;
}

.red_diamond_active .shiv_can_kill .target_shape
{
	width: 100%;
	height: 100%;
	animation-name: can_kill_pulse;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}

.red_diamond_active #hint_container
{
	y: 70%;
}

.red_diamond_active .small_unit_target .target_shape
{
	width: 100%;
	height: 100%;
}

.red_diamond_active .locking_on .lockon_progress,.red_diamond_active .locking_on .lockon_progress_inner
{
	visibility: visible;
}

@keyframes 'can_kill_pulse'
{
	0%
	{
		pre-transform-scale2d: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container Citadel_AbilityHudButtonHintPanel,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container .ability_button_hint
{
	opacity: 0.8;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container Citadel_AbilityHudButtonHintPanel #ability_image.has_image,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container .ability_button_hint #ability_image.has_image
{
	border-radius: 20px;
	border: 2px solid #d8ebe2cc;
	padding: 2px;
	background-color: #0f151ad0;
	box-shadow: 0px 0px 8px #00000070;
	overflow: clip;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container Citadel_AbilityHudButtonHintPanel .button_label,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container .ability_button_hint .button_label
{
	background-color: none;
	border: 0px;
	box-shadow: none;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container Citadel_AbilityHudButtonHintPanel .KeyboardKeyGlyphContainer,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container Citadel_AbilityHudButtonHintPanel .MouseButtonGlyphContainer,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container Citadel_AbilityHudButtonHintPanel .MouseGlyphBackground,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container Citadel_AbilityHudButtonHintPanel .ModifierCombinerContainer,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container .ability_button_hint .KeyboardKeyGlyphContainer,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container .ability_button_hint .MouseButtonGlyphContainer,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container .ability_button_hint .MouseGlyphBackground,.improved_hint_active .ability_element_unit_target #unscaled_panel > #hint_container .ability_button_hint .ModifierCombinerContainer
{
	background-color: none;
	background-image: none;
	border: 0px;
	box-shadow: none;
}

.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container #ability_image,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container #ability_image.has_image
{
	border-radius: 20px !important;
}

