/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hero_stats_panels_shared.vcss_c");
.gShopOpen .heroStatsDisplay
{
	width: 650px;
	border-radius: 5px;
	ui-scale: 105%;
}

.gShopOpen .displayStatsContainer .statAttributeContainer
{
	width: 19%;
	height: 40px;
	padding: 0px 0px 0px 4px;
}

.gShopOpen .statAttributeContainer CitadelModifiedAttributeLabel
{
	ui-scale: 95%;
	margin-right: 2px;
}

.gShopOpen,.statTitle
{
	visibility: collapse;
}

.gShopOpen .displayStatsContainer
{
	padding: 2px;
}

.gShopOpen CitadelHeroStatsWeapon #BackgroundContainer
{
	opacity: 0.5;
}

.gShopOpen CitadelHeroStatsArmor #BackgroundContainer
{
	opacity: 0.5;
}

.gShopOpen CitadelHeroStatsTech #BackgroundContainer
{
	opacity: 0.5;
}

.simplify_shop_stats_active .displayStatsContainer .statAttributeContainer,
CitadelHudHeroShop.simplify_shop_stats_active .displayStatsContainer .statAttributeContainer
{
	width: 33%;
	height: 60px;
	margin: 1px;
	padding: 2px;
	background-color: #00000070;
	border-radius: 3px;
}

.simplify_shop_stats_active .statAttributeContainer CitadelModifiedAttributeLabel,
CitadelHudHeroShop.simplify_shop_stats_active .statAttributeContainer CitadelModifiedAttributeLabel
{
	ui-scale: 86%;
	margin-right: 0px;
	height: 100% !important;
	width: 100% !important;
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	padding: 0px;
}

.simplify_shop_stats_active .HasScalingStat .statAttributeContainer,
CitadelHudHeroShop.simplify_shop_stats_active .HasScalingStat .statAttributeContainer
{
	border: 2px solid spiritColor&40;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #00000080 ), to( spiritDarkColor&50 ) );
}

.simplify_shop_stats_active .LabelsContainer,
CitadelHudHeroShop.simplify_shop_stats_active .LabelsContainer
{
	width: 100% !important;
	flow-children: right !important;
	horizontal-align: center;
	vertical-align: top !important;
	height: 24px !important;
	ignore-parent-flow: false;
	margin: 0px;
}

.simplify_shop_stats_active #AdditionalText,
CitadelHudHeroShop.simplify_shop_stats_active #AdditionalText
{
	visibility: visible !important;
	opacity: 1;
	font-size: 8px;
	line-height: 9px;
	color: #ffffff80;
	height: 18px;
	max-height: 18px;
	width: 100% !important;
	horizontal-align: center;
	text-align: center !important;
	text-transform: none;
	vertical-align: bottom !important;
	ignore-parent-flow: false;
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 0px;
	white-space: normal;
	text-overflow: shrink;
}

.simplify_shop_stats_active .StatImageArea,
CitadelHudHeroShop.simplify_shop_stats_active .StatImageArea
{
	visibility: visible !important;
	width: fit-children;
	margin-right: 4px;
}

.simplify_shop_stats_active .displayStatsContainer CitadelStatScalingLabel,
CitadelHudHeroShop.simplify_shop_stats_active .displayStatsContainer CitadelStatScalingLabel
{
	horizontal-align: center;
	background-color: none;
	ui-scale: 75%;
}

.simplify_shop_stats_active .displayStatsContainer .ScalingStatValue,
.simplify_shop_stats_active .displayStatsContainer .ScalingStatAltMultiply,
CitadelHudHeroShop.simplify_shop_stats_active .displayStatsContainer .ScalingStatValue,
CitadelHudHeroShop.simplify_shop_stats_active .displayStatsContainer .ScalingStatAltMultiply
{
	font-size: 17px;
	color: offWhite&aa;
}

.simplify_shop_stats_active #ModifiedLabel,
.simplify_shop_stats_active #BaseLabel,
CitadelHudHeroShop.simplify_shop_stats_active #ModifiedLabel,
CitadelHudHeroShop.simplify_shop_stats_active #BaseLabel
{
	font-size: 16px;
	horizontal-align: center;
	text-align: center;
}

.simplify_shop_stats_active #WeaponOtherStatsDisplay
{
    visibility: collapse;
}

/* 4:3 support overrides for simplified shop stats */
.support_4_3_active .simplify_shop_stats_active .displayStatsContainer .statAttributeContainer,
.support_4_3_active CitadelHudHeroShop.simplify_shop_stats_active .displayStatsContainer .statAttributeContainer
{
	width: 32%;
}
