/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hud_player_level.vcss_c");
.minimalist_healthbar_active .PlayerLevelContainer
{
	height: 60px;
}

.minimalist_healthbar_active #SoulsFill
{
	margin: 4px 3px;
}

.budhud_healthbar_active .PlayerLevelContainer
{
	height: 60px;
}

.budhud_healthbar_active #SoulsFill
{
	margin: 4px 3px;
}

