/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hud_ability_upgrade_pips.vcss_c");
.hide_ability_suggestion_active .build_suggestion.canAffordUpgrade .upgradeReadyFlash,.hide_ability_suggestion_active .build_suggestion .canAffordUpgrade .upgradeReadyFlash
{
	wash-color: #ce88d7;
}

.support_16_10_active .abilityUpgradeContainer
{
	width: 100%;
	horizontal-align: middle;
	height: 32px;
	margin-top: 5px;
	border-radius: 30px;
	background-color: rgba(26, 26, 26, 0.8);
	animation-iteration-count: 0;
	tooltip-position: left;
	flow-children: none;
}

