/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_base_styles.vcss_c");
#SettingsWindow .SettingsDropDown.QOLSettingsDropDown
{
	width: 150px;
	height: 32px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #171717 ), to( #111111 ) );
	border: 1px solid #3f4648;
	border-radius: 4px;
	vertical-align: center;
	margin-left: 0px;
	padding-left: 8px;
	transition-property: border, background-color, box-shadow;
	transition-duration: 0.16s;
}

#SettingsWindow .SettingsDropDown.QOLSettingsDropDown:hover
{
	border: 1px solid #66cc99;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1f2322 ), to( #171918 ) );
	box-shadow: fill rgba(102, 204, 153, 0.15) 0px 0px 8px 0px;
}

#SettingsWindow .SettingsDropDown.QOLSettingsDropDown Label
{
	color: #cde5db;
	font-size: 14px;
	letter-spacing: 0.3px;
	font-weight: medium;
	vertical-align: center;
	text-transform: none;
	text-shadow: 0px 0px 2px rgba(102, 204, 153, 0.18);
}

#SettingsWindow .SettingsDropDown.QOLSettingsDropDown:active Label
{
	color: white;
}

