/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_shop_mod_view.vcss_c");
CitadelHudHeroShop.simplify_shop_active CitadelShopMod
{
	width: 80px;
	min-width: 80px;
	max-width: 80px;
	height: 80px;
	min-height: 80px;
	max-height: 80px;
	margin: 2px;
}

CitadelHudHeroShop.simplify_shop_active .paperTexture, CitadelHudHeroShop.simplify_shop_active .paperWear
{
	background-size: 100% 156.25%;
}


CitadelHudHeroShop.simplify_shop_active CitadelShopMod .mod_name_area
{
	visibility: collapse;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopMod #modIconContainer,CitadelHudHeroShop.simplify_shop_active CitadelShopMod .modIconContainer,CitadelHudHeroShop.simplify_shop_active CitadelShopMod #ModIconImage,CitadelHudHeroShop.simplify_shop_active CitadelShopMod .mod_icon_single_container
{
	width: 80px;
	height: 80px;
}

CitadelHudHeroShop.simplify_shop_active .shopModsBuild .SellCost
{
	margin-top: 0px;
}

CitadelHudHeroShop.simplify_shop_active .shopModsBuild #ItemPurchased Label
{
	margin-bottom: 0px;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopMod .active_tag
{
	margin-bottom: 0px;
}

CitadelHudHeroShop.simplify_shop_active .ModTier1.isWeapon #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier2.isWeapon #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier3.isWeapon #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier4.isWeapon #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier1.isTech #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier2.isTech #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier3.isTech #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier4.isTech #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier1.isArmor #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier2.isArmor #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier3.isArmor #CardBacker,CitadelHudHeroShop.simplify_shop_active .ModTier4.isArmor #CardBacker
{
	background-image: none;
}

