/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hud_ability_button_hint.vcss_c");
.zip_boost_active .KeyboardKeyGlyphContainer.light
{
	opacity: 0;
}

.zip_boost_active .KeyboardKeyGlyphContainer
{
	opacity: 0;
}

.zip_boost_active #RightContainer #button_1_label,.zip_boost_active #RightContainer #button_2_label,.zip_boost_active #RightContainer .button_label,.zip_boost_active #RightContainer CitadelKeyboardGlyph
{
	visibility: collapse;
}

.zip_boost_active .button_label,.zip_boost_active .button_label Label,.zip_boost_active .InlineGlyph,.zip_boost_active #slash,.zip_boost_active #plus
{
	visibility: collapse;
}

.zip_boost_active .buttonContainer,.zip_boost_active .buttonRow,.zip_boost_active .action_label,.zip_boost_active .AbilityName,.zip_boost_active .activeNotice,.zip_boost_active .cooldownNotice
{
	visibility: visible;
}

.zip_boost_active .citadel_ability_zipline_boost #ability_image
{
	visibility: visible;
	width: 30px;
	height: 30px;
}

.zip_boost_active .buttonContainer
{
	visibility: visible;
}

.zip_boost_active .two_buttons #button_2_label,.zip_boost_active .two_button_combo #button_2_label
{
	visibility: collapse;
}

.zip_boost_active .button_label
{
	visibility: collapse;
}

.zip_boost_active .InlineGlyph
{
	visibility: collapse;
}

.zip_boost_active #ability_image
{
	visibility: collapse;
}

.zip_boost_active #ability_image.has_image
{
	width: 0px;
	height: 0px;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .ability_button_hint
{
	opacity: 0.8;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container #ability_image.has_image
{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 2px solid #d8ebe2cc;
	padding: 0px;
	background-color: #0f151ad0;
	box-shadow: 0px 0px 8px #00000070;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .button_label
{
	background-color: #00000000;
	border: 0px;
	box-shadow: none;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .buttonRow
{
	horizontal-align: center;
	vertical-align: center;
	width: fit-children;
	flow-children: right;
	margin-left: 0px;
	margin-right: 0px;
    margin-top: -12px;
    ui-scale: 60%;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .KeyboardKeyGlyphContainer,.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .MouseButtonGlyphContainer,.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .MouseGlyphBackground,.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .ModifierCombinerContainer
{
	background-color: #00000000;
	background-image: none;
	border: 0px;
	box-shadow: none;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .KeyboardButtonGlyph,.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .MouseButtonGlyph,.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .InlineGlyph
{
	wash-color: #ffffff;
	color: #ffffff;
	horizontal-align: center;
	vertical-align: center;
}

.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .KeyboardKeyGlyphContainer Label,.improved_hint_active .ability_element_unit_target #unscaled_panel #hint_container .ModifierCombinerContainer Label
{
	color: #ffffff;
}

