/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_ui_keyboard_glyph.vcss_c");
.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox CitadelKeyboardGlyph
{
	width: 100%;
	height: 100%;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox CitadelKeyboardGlyph.light Label
{
	color: #ffffff;
	font-size: 16px;
	line-height: 0px;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .KeyboardKeyGlyphContainer
{
	background-color: #00000000;
	background-image: none;
	border: 0px solid transparent;
	box-shadow: none;
	border-radius: 4px;
	wash-color: #ffffff00;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .MouseKey .MouseButtonGlyphContainer
{
	background-color: #00000000;
	background-image: none;
	border: 0px solid transparent;
	box-shadow: none;
	border-radius: 0px;
	padding: 0px;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .MouseKey .MouseGlyphBackground
{
	wash-color: #00000000;
	background-color: #00000000;
	background-image: none;
	opacity: 0;
	visibility: collapse;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .MouseKey .MouseButtonGlyph,.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .MouseKey .KeyboardButtonGlyph
{
	wash-color: #ffffff;
	color: #ffffff;
	background-color: #00000000;
	padding: 0px;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .MouseKey .MouseButtonGlyph
{
	width: 20px !important;
	height: 20px !important;
	background-texture-size: 20px 20px;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseButton1
{
	background-image: url("s2r://panorama/images/glyphs/mouse1_dark.vsvg");
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseButton2
{
	background-image: url("s2r://panorama/images/glyphs/mouse2_dark.vsvg");
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseButton3
{
	background-image: url("s2r://panorama/images/glyphs/mouse3_dark.vsvg");
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseButton4
{
	background-image: url("s2r://panorama/images/glyphs/mouse4_dark.vsvg");
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseButton5
{
	background-image: url("s2r://panorama/images/glyphs/mouse5_dark.vsvg");
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseWheelDown
{
	background-image: url("s2r://panorama/images/glyphs/mousewheeldown_dark.vsvg");
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseWheelUp
{
	background-image: url("s2r://panorama/images/glyphs/mousewheelup_dark.vsvg");
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseGlyphBackground
{
	background-color: #00000000;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseButton3,.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseButton4,.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseButton5,.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseWheelUp,.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox .light .MouseWheelDown
{
	wash-color: #ffffff;
}

.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container CitadelKeyboardGlyph,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .KeyboardKeyGlyphContainer,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .MouseButtonGlyphContainer,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .MouseGlyphBackground,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .ModifierCombinerContainer
{
	horizontal-align: center !important;
	vertical-align: center !important;
	background-color: #00000000 !important;
	background-image: none !important;
	border: 0px !important;
	box-shadow: none !important;
}

.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .light .KeyboardKeyGlyphContainer,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .light .MouseGlyphBackground,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .light .MouseButtonGlyphContainer
{
	background-color: #00000000 !important;
	background-image: none !important;
	wash-color: #ffffff00 !important;
}

.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .KeyboardButtonGlyph,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .MouseButtonGlyph,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container .InlineGlyph,.improved_hint_active Citadel_AbilityHUDElement_UnitTarget #unscaled_panel #hint_container CitadelKeyboardGlyph.light .KeyboardButtonGlyph
{
	wash-color: #ffffff !important;
	horizontal-align: center !important;
	vertical-align: center !important;
}

.improved_hint_active Citadel_AbilityHudButtonHintPanel CitadelKeyboardGlyph,.improved_hint_active Citadel_AbilityHudButtonHintPanel .ModifierCombinerContainer
{
	horizontal-align: center !important;
	vertical-align: center !important;
	background-color: #00000000 !important;
	background-image: none !important;
	border: 0px !important;
	box-shadow: none !important;
}

.ability_element_unit_target #hint_container Citadel_AbilityHudButtonHintPanel .KeyboardKeyGlyphContainer,.ability_element_unit_target #hint_container Citadel_AbilityHudButtonHintPanel .MouseButtonGlyphContainer,.ability_element_unit_target #hint_container Citadel_AbilityHudButtonHintPanel .MouseGlyphBackground
{
	horizontal-align: center !important;
	vertical-align: center !important;
	width: 24px !important;
	height: 24px !important;
	background-color: #ffffff !important;
	background-image: none !important;
	border: 0px !important;
	border-radius: 50% !important;
	box-shadow: none !important;
}

.ability_element_unit_target #hint_container Citadel_AbilityHudButtonHintPanel .KeyboardButtonGlyph,.ability_element_unit_target #hint_container Citadel_AbilityHudButtonHintPanel .MouseButtonGlyph,.ability_element_unit_target #hint_container Citadel_AbilityHudButtonHintPanel .InlineGlyph
{
	wash-color: #ffffff !important;
	color: #ffffff !important;
	horizontal-align: center !important;
	vertical-align: center !important;
}

.improved_hint_active Citadel_AbilityHudButtonHintPanel .KeyboardKeyGlyphContainer,.improved_hint_active Citadel_AbilityHudButtonHintPanel .MouseButtonGlyphContainer,.improved_hint_active Citadel_AbilityHudButtonHintPanel .MouseGlyphBackground
{
	horizontal-align: center !important;
	vertical-align: center !important;
	width: 24px !important;
	height: 24px !important;
	background-color: #ffffff !important;
	background-image: none !important;
	border: 0px !important;
	border-radius: 50% !important;
	box-shadow: none !important;
}

.improved_hint_active Citadel_AbilityHudButtonHintPanel CitadelKeyboardGlyph.light .KeyboardKeyGlyphContainer,.improved_hint_active Citadel_AbilityHudButtonHintPanel CitadelKeyboardGlyph.dark .KeyboardKeyGlyphContainer,.improved_hint_active Citadel_AbilityHudButtonHintPanel .light .MouseGlyphBackground,.improved_hint_active Citadel_AbilityHudButtonHintPanel .dark .MouseGlyphBackground
{
	background-color: #ffffff !important;
	background-image: none !important;
	wash-color: #ffffff !important;
	border-radius: 50% !important;
}

.improved_hint_active Citadel_AbilityHudButtonHintPanel .KeyboardButtonGlyph,.improved_hint_active Citadel_AbilityHudButtonHintPanel .MouseButtonGlyph,.improved_hint_active Citadel_AbilityHudButtonHintPanel .InlineGlyph,.improved_hint_active Citadel_AbilityHudButtonHintPanel CitadelKeyboardGlyph.light .KeyboardButtonGlyph,.improved_hint_active Citadel_AbilityHudButtonHintPanel CitadelKeyboardGlyph.dark .KeyboardButtonGlyph
{
	wash-color: #ffffff !important;
	color: #ffffff !important;
	horizontal-align: center !important;
	vertical-align: center !important;
}

.improved_hint_active Citadel_AbilityHudButtonHintPanel CitadelKeyboardGlyph.light Label,.improved_hint_active Citadel_AbilityHudButtonHintPanel CitadelKeyboardGlyph.dark Label,.improved_hint_active Citadel_AbilityHudButtonHintPanel .KeyboardKeyGlyphContainer Label,.improved_hint_active Citadel_AbilityHudButtonHintPanel .ModifierCombinerContainer Label
{
	color: #ffffff !important;
}

