/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_shop_mods_build_category.vcss_c");
CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory
{
	border-radius: 6px;
	border: 0px solid #00000060;
	background-color: none;
	margin: 3px;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory #BuildCategoryHeader
{
	width: fit-children;
	border-radius: 4px 4px 0px 0px;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory .BuildHeaderShared
{
	background-image: none;
	background-color: #2b2c2b;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuild .BuildHeaderShared
{
	background-image: none;
	background-color: #2b2c2b99;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory.Optional
{
	background-color: none;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory #ModsContainer
{
	overflow: noclip;
}

