/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hero_stats_weapon_panel.vcss_c");
.gShopOpen CitadelHeroStatsWeapon
{
	padding-top: 30px;
}

.gShopOpen #WeaponRangeContainer
{
	height: 20px;
}

.gShopOpen #GunImage
{
	width: 160px;
	height: 80px;
}

#NAWeaponRangeContainer
{
	visibility: collapse;
}

#NAWeaponRangeLabel
{
	horizontal-align: center;
	font-weight: semi-bold;
	padding: 5px;
}

.NoWeaponFalloffRange #NAWeaponRangeContainer
{
	width: 100%;
	visibility: visible;
}

.NoWeaponFalloffRange #StatContainer_WeaponRangeFalloffMin,.NoWeaponFalloffRange #StatContainer_WeaponRangeFalloffMax,.NoWeaponFalloffRange .RangeArrow
{
	visibility: collapse;
}

.gShopOpen #BulletDPSContainer
{
	margin-bottom: 30px;
}

.gShopOpen #WeaponInfoContainer
{
	height: 50px;
}

.gShopOpen .weaponNameAndAttributes
{
	padding: 1%;
	flow-children: right;
	vertical-align: bottom;
}

.simplify_shop_stats_active #WeaponInfoContainer,
.simplify_shop_stats_active .weaponNameAndAttributes,
.simplify_shop_stats_active #GunImage,
.simplify_shop_stats_active .WeaponName,
.simplify_shop_stats_active #WeaponAttributesContainer,
.simplify_shop_stats_active #BulletDPSContainer,
.simplify_shop_stats_active #WeaponFalloffRange,
.simplify_shop_stats_active #WeaponRangeContainer,
.simplify_shop_stats_active .FalloffLabel,
CitadelHudHeroShop.simplify_shop_stats_active #WeaponInfoContainer,
CitadelHudHeroShop.simplify_shop_stats_active .weaponNameAndAttributes,
CitadelHudHeroShop.simplify_shop_stats_active #GunImage,
CitadelHudHeroShop.simplify_shop_stats_active .WeaponName,
CitadelHudHeroShop.simplify_shop_stats_active #WeaponAttributesContainer,
CitadelHudHeroShop.simplify_shop_stats_active #BulletDPSContainer,
CitadelHudHeroShop.simplify_shop_stats_active #WeaponFalloffRange,
CitadelHudHeroShop.simplify_shop_stats_active #WeaponRangeContainer,
CitadelHudHeroShop.simplify_shop_stats_active .FalloffLabel
{
	visibility: collapse;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
}

