/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hero_stats_tech_panel.vcss_c");
.gShopOpen #SpiritValueContainer
{
	flow-children: right;
	padding: 0px;
	height: 25px;
}

.gScoreboardOpen CitadelModifiedAbilities
{
	visibility: collapse;
}

.gShopOpen #StatContainer_TechPower
{
	width: 54%;
	height: 30px;
}

.SpiritPower
{
	flow-children: down;
}

.SpiritPowerImpactLabel
{
	visibility: collapse;
}

.SpiritPowerDesc
{
	visibility: collapse;
}

