/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_ui_binding.vcss_c");
.keyboard_overlay_active #QOLKeyboardOverlayRoot #AllBindingsBox CitadelKeyboardBinding
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot .AllBindingsScope CitadelBinding
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px 2px;
	border: 2px solid #ffffff30;
	border-radius: 8px;
	background-color: #ffffff00;
	box-shadow: none;
	overflow: clip;
	transition-property: border, background-color, brightness, transform;
	transition-duration: 0.10s;
	transition-timing-function: ease-out;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot .AllBindingsScope CitadelBinding .Contents
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	flow-children: none;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot .AllBindingsScope CitadelBinding.QOLFallbackBinding #QOLFallbackKeyLabel
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #000000aa;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot .AllBindingsScope CitadelBinding.IsPressed
{
	border: 2px solid #ffffff80;
	background-color: #ffffff16;
	brightness: 1.04;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot .AllBindingsScope CitadelBinding.HasDownAction.DownActivated:not(.HasUpAction)
{
	animation-name: QOLKeyboardBindingPressFlash;
	animation-duration: 0.14s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

.keyboard_overlay_active #QOLKeyboardOverlayRoot .AllBindingsScope CitadelBinding.IsPressed.DownActivated
{
	border: 2px solid #ffffff80;
	background-color: #ffffff16;
	brightness: 1.04;
}

@keyframes 'QOLKeyboardBindingPressFlash'
{
	0%
	{
		background-color: #ffffff40;
		border: 2px solid #ffffff90;
		brightness: 1.16;
		transform: scale3d(1.04, 1.04, 1);
	}
	
	100%
	{
		background-color: #ffffff16;
		border: 2px solid #ffffff80;
		brightness: 1.04;
		transform: scale3d(1, 1, 1);
	}
	
}

.simplify_ability_icons_active #ActiveAbilitiesMenu CitadelKeyboardBinding
{
	visibility: collapse;
}

