/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_status_effect.vcss_c");
.minimalist_healthbar_active #HealthBarContent CitadelStatusEffect
{
	margin-bottom: 0px;
	margin-right: 420px;
	margin-top: 275px;
	height: 66px;
}

.minimalist_healthbar_active #LowerLeft CitadelStatusEffect
{
	margin-bottom: 210px;
	horizontal-align: left;
	margin-right: 145px;
}

.minimalist_healthbar_active #HealthBarContent #StatusEffectContainer
{
	flow-children: right;
}

.minimalist_healthbar_active CitadelHud CitadelStatusEffect
{
	ui-scale: 42%;
	horizontal-align: left;
	width: 630px;
	margin-left: 331px;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) CitadelHud CitadelStatusEffect
{
	ui-scale: 40%;
	width: 525px;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) #HealthBarContent CitadelStatusEffect
{
	margin-top: 105px;
	margin-left: 60px;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) #HealthBarContent #StatusEffectContainer
{
	flow-children: right;
}

.budhud_healthbar_active #HealthBarContent CitadelStatusEffect
{
	margin-bottom: 0px;
	margin-right: 440px;
	margin-top: 290px;
	height: 64px;
}

.budhud_healthbar_active #LowerLeft CitadelStatusEffect
{
	margin-bottom: 210px;
	horizontal-align: right;
	margin-right: 145px;
}

.budhud_healthbar_active #HealthBarContent #StatusEffectContainer
{
	flow-children: left;
	horizontal-align: right;
}

.budhud_healthbar_active CitadelHud CitadelStatusEffect
{
	ui-scale: 40%;
	horizontal-align: right;
	width: 630px;
	margin-left: 405px;
}
