/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_shop_mods_build_category.vcss_c");
CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory
{
	max-height: 86%;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory .BuildHeaderShared
{
	background-image: none;
	background-color: #2b2c2b;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuild .BuildHeaderShared
{
	background-image: none;
	background-color: #2b2c2b;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory.Optional
{
	background-color: #283e6540;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory
{
	border: 0px solid #00000060;
}

CitadelHudHeroShop.simplify_shop_active CitadelShopModsBuildCategory #ModsContainer
{
	overflow: noclip;
}

