/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/dashboard.vcss_c");
.isShowingWatchPage #BGColor,.isShowingPlayPage #BGColor,.isShowingRosterConfirmPage #BGColor,.isShowingHeroesPage #BGColor,.isShowingLearnPage #BGColor,.isShowingTrainingPage #BGColor,.isShowingHeroDetailsPage #BGColor,.isShowingRosterConfirmPage #BGColor,.isShowingHeroBuildsPage #BGColor,.isShowingSocialPage #BGColor
{
	background-color: #000000;
	opacity: 0.9;
}

.connectedToGame #HeroScenePanel,.connectedToHeroTesting #HeroScenePanel,.connectedToLaneTraining #HeroScenePanel,.connectedToHeroTraining #HeroScenePanel
{
	visibility: collapse;
}

.IsShowingHomePage #LeftStripe
{
	transform: translateX( 0px );
	visibility: visible;
}

.DebugButton
{
	margin-top: 5px;
}

#DashboardDebugControls
{
	margin: 8px;
	margin-left: 16px;
	padding: 2px;
}

.isShowingRosterConfirmPage #matchmakeReadyUp
{
	visibility: collapse;
}

.connectedToGame.isShowingRosterConfirmPage.showPlayMenu #PlayMenu
{
	opacity: 0.0;
	transform: translateX( -20px );
}

.in_matchmaking #matchmakeLeave,.disconnected #connect,.connectedToGame #resume,.connectedToGame #spectate,#newgame
{
	visibility: visible;
}

.is_in_lobby #matchmakeEnter,.is_in_lobby #rosterDetail,.in_matchmaking #matchmakeEnter,.connecting_server #matchmakeEnter,.entering_mm #matchmakeEnter,.entering_mm #rosterDetail,.is_in_lobby #matchmakeLeave,.connectedToGame #matchmakeEnter,.connectedToGame #learn,.connectedToGame.isSpectator.in_matchmaking #matchmakeEnter,.connectedToGame.isSpectator.in_matchmaking #rosterDetail,.connecting_server #rosterDetail,.connectedToGame #matchmakeLeave,.connectedToGame #rosterDetail,.disconnected.in_matchmaking #matchmakeEnter,.connectedToHeroTesting #spectate,.connectedToNewPlayerSandbox #spectate,#connect,.disconnected #resume,.disconnected #spectate,.gc_disconnected #matchmakeLeave,.connecting_server #match_practice,.connectedToGame #match_practice,.connectedToGame #heroes,.connectedToGame #watch,.connecting_server #watch,.connecting_server #social,.connectedToGame #NewPlayerContainer,.connectedToLaneTraining #NewPlayerContainer
{
	visibility: collapse;
}

.connectedToTutorial #NewPlayerContainer
{
	visibility: visible;
}

.connectedToGame #DashboardPages
{
	visibility: visible;
}

.connectedToGame.isShowingRosterConfirmPage #DashboardPages
{
	visibility: visible;
}

.connectedToGame.connectedToHideout #DashboardPages
{
	visibility: visible;
}

.connectedToGame.connectedToHideout.IsShowingHomePage #DashboardPages
{
	visibility: collapse;
}

#PartyMemberListReady CitadelPartyMember
{
	padding-right: 8px;
}

.ShowBookPrototype.IsShowingHomePage #Library
{
	visibility: collapse;
}

#survey_ctn
{
	width: 600px;
	horizontal-align: right;
	vertical-align: top;
	margin: 572px 20px 0px 0px;
	flow-children: down;
	z-index: 1000;
	visibility: collapse;
}

.ShowSurvey.IsShowingHomePage #survey_ctn
{
	visibility: visible;
}

