/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

.friendSearchContainer
{
	width: 386px;
	margin: 0px 10px 10px 0px;
	border-radius: 4px;
	border: 2px solid offWhite&06;
	background-color: #00000060;
	horizontal-align: right;
}

#FriendSearchClear
{
	width: 40px;
	height: 40px;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 0px;
	background-image: url("s2r://panorama/images/control_icons/x_close_filled_png.vtex");
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: offWhite;
	visibility: collapse;
}

.showSearchClearButton #FriendSearchClear
{
	visibility: visible;
}

.QOLFriendSearchHidden
{
	visibility: collapse;
}

