/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_ability_icon.vcss_c");
.ability_ring,.ability-ring
{
	wash-color: none;
}

.clean_stacks_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon
{
	width: 15px;
}

/* Post-game scoreboard — commented out per design
.clean_stacks_active CitadelPostGameScoreboardNew #AbilitiesContainer .ability_container
{
	height: 120px;
	overflow: noclip;
}

.clean_stacks_active CitadelPostGameScoreboardNew #AbilitiesContainer #BonusContainer
{
	visibility: visible;
	transform: translatey(-33px);
	ui-scale: 170%;
}
*/

.clean_stacks_active #BonusContainer
{
	margin-top: 85px;
}

.clean_stacks_active #slot_signature_2 #BonusContainer,.clean_stacks_active #slot_signature_3 #BonusContainer
{
	margin-top: 65px;
}

.clean_stacks_active .bonusBG
{
	border: 2px solid rgba(200, 200, 200, 0);
}

.clean_stacks_active .bonusCounter
{
	color: white;
	text-shadow: 0px 0px 0px 5 offBlack;
	text-overflow: noclip;
}

.clean_stacks_active .hasBonusCounter #BonusContainer
{
	opacity: 1;
	transform: translatey(105px);
}

.clean_stacks_active .gScoreboardOpen #BonusContainer,.clean_stacks_active .gShopOpen #BonusContainer
{
	visibility: visible;
}

@keyframes 'QOLFlashBonusCounterCleanStacks'
{
	0%
	{
		opacity: 1;
	}

	50%
	{
		wash-color: spiritLightColor;
		color: spiritBrightColor;
		pre-transform-scale2d: 1.2;
		opacity: 1;
	}

	100%
	{
		opacity: 1;
	}

}

.clean_stacks_active .bonusCounterIncreased #BonusContainer
{
	animation-name: QOLFlashBonusCounterCleanStacks;
	animation-duration: 0.8s;
}

.hide_ability_suggestion_active .build_next
{
	opacity: 0;
}

.hide_ability_suggestion_active .build_suggestion.ability_upgradable .build_suggestion_container,.hide_ability_suggestion_active .build_suggestion.ability_upgrade_available .build_suggestion_container
{
	visibility: collapse;
}

.hide_ability_suggestion_active .ability_upgradable.build_suggestion .ability_bg,.hide_ability_suggestion_active .ability_upgrade_available .ability_bg
{
	wash-color: spiritBrightColor;
}

.simplify_ability_icons_active #hud_signature .HasKeyBind .ability_key_container
{
	visibility: collapse;
}

.simplify_ability_icons_active .ability_image
{
	wash-color: white;
	brightness: 1;
	saturation: 1;
	opacity: 1;
}

.simplify_ability_icons_active .ability_icon,.simplify_ability_icons_active #SubAbility #SubAbilityImage,.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer .ability_image,.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer #SubAbility #SubAbilityImage
{
	wash-color: white !important;
	brightness: 1 !important;
	saturation: 1 !important;
	opacity: 1 !important;
}

.simplify_ability_icons_active #hud_items .ability_image,.simplify_ability_icons_active #hud_passive_items .ability_image,.simplify_ability_icons_active #hud_items #SubAbility #SubAbilityImage,.simplify_ability_icons_active #hud_passive_items #SubAbility #SubAbilityImage
{
	wash-color: white !important;
	brightness: 1 !important;
	saturation: 1 !important;
	opacity: 1 !important;
	background-color: #00000000 !important;
}

.simplify_ability_icons_active .cooling_down .ability_image,.simplify_ability_icons_active .ability_not_ready .ability_image,.simplify_ability_icons_active .active .ability_image,.simplify_ability_icons_active .toggled_on .ability_image,.simplify_ability_icons_active .channeling .ability_image
{
	wash-color: white;
	brightness: 1;
	saturation: 1;
	opacity: 1;
}

.simplify_ability_icons_active .ability_bg
{
	background-image: none;
	background-color: #ffffff00;
}

.simplify_ability_icons_active .ability_ring
{
	opacity: 0;
}

.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer .ability_bg
{
	background-image: none !important;
	background-color: #d9d9d9 !important;
	border-radius: 13px;
}

.simplify_ability_icons_active #hud_items .ability_bg,.simplify_ability_icons_active #hud_passive_items .ability_bg
{
	background-image: none !important;
	background-color: #ffffff00 !important;
}

.simplify_ability_icons_active #ActiveAbilitiesMenu.active_abilities .ability_bg
{
	background-color: #ffffff05;
}

.simplify_ability_icons_active DraggableAbilityIcon .ability_bg
{
	opacity: 0;
}

.simplify_ability_icons_active #SubAbility #SubAbilityImage
{
	wash-color: white;
	brightness: 1;
	saturation: 1;
	opacity: 1;
}

.simplify_ability_icons_active .cooling_down #SubAbility,.simplify_ability_icons_active .ability_not_ready #SubAbility
{
	opacity: 1;
}

.simplify_ability_icons_active #hud_items .cooling_down .image_container .ability_image,.simplify_ability_icons_active #hud_items .ability_not_ready .image_container .ability_image,.simplify_ability_icons_active #hud_passive_items .cooling_down .ability_image,.simplify_ability_icons_active #hud_passive_items .ability_not_ready .ability_image
{
	wash-color: white !important;
	opacity: 1 !important;
	background-color: #00000000 !important;
}

.simplify_ability_icons_active #hud_items #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_standard.vsvg") !important;
	height: 100%;
	margin-top: 0px;
}

.simplify_ability_icons_active #ActiveAbilitiesMenu DraggableAbilityIcon #cooldown_mask,.simplify_ability_icons_active #ActiveAbilitiesMenu #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_standard.vsvg") !important;
	height: 100% !important;
	margin-top: 0px !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.simplify_ability_icons_active CitadelAbilityIcon.Tier0.cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelAbilityIcon.Tier0.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_passive_0.vsvg");
}

.simplify_ability_icons_active CitadelAbilityIcon.Tier1.cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelAbilityIcon.Tier1.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_passive_1.vsvg");
}

.simplify_ability_icons_active CitadelAbilityIcon.Tier2.cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelAbilityIcon.Tier2.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_passive_2.vsvg");
}

.simplify_ability_icons_active CitadelAbilityIcon.Tier3.cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelAbilityIcon.Tier3.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_passive_3.vsvg");
}

.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer .cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer .ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_standard.vsvg");
}

.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon.Tier0.cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon.Tier0.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_0.vsvg");
}

.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon.Tier1.cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon.Tier1.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_1.vsvg");
}

.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon.Tier2.cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon.Tier2.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_2.vsvg");
}

.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon.Tier3.cooling_down #cooldown_mask,.simplify_ability_icons_active CitadelHudTopBarPlayer #PlayerAbilitiesContainer CitadelAbilityIcon.Tier3.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_3.vsvg");
}

.clean_stacks_active .AbilityUpgradeFailed .button_container
{
	wash-color: keybindBGColor;
	animation-name: QOLAbilityUpgradeFailedAnimation;
	animation-timing-function: ease-out;
	animation-duration: 0.06666s;
	animation-iteration-count: 4;
}

@keyframes 'QOLAbilityUpgradeFailedAnimation'
{
	0%
	{
		transform: translateX(2px);
		wash-color: apCurrencyColor;
	}
	
	60%
	{
		transform: translateX(2px);
		wash-color: apCurrencyColor;
	}
	
	61%
	{
		transform: translateX(-2px);
		wash-color: keybindBGColor;
	}
	
	100%
	{
		transform: translateX(-2px);
		wash-color: keybindBGColor;
	}
	
}

.AbilityCastFailed .button_container
{
	wash-color: keybindBGColor;
	animation-name: QOLAbilityCastFailedAnimation;
}

#hud_signature CitadelAbilityIcon.signature.qol_signature_cooldown_pressed .button_container
{
	wash-color: keybindBGColor;
	animation-name: QOLAbilityCastFailedAnimation;
	animation-timing-function: ease-out;
	animation-duration: 0.06666s;
	animation-iteration-count: 4;
}

CitadelHudTopBarPlayer #PlayerAbilitiesContainer .AbilityCastFailed .button_container,CitadelHudTopBarPlayer #PlayerAbilitiesContainer .AbilityUpgradeFailed .button_container
{
	animation-name: none;
	transform: translateX(0px);
	wash-color: none;
}

@keyframes 'QOLAbilityCastFailedAnimation'
{
	0%
	{
		transform: translateX(2px);
		wash-color: colorEnemy;
	}
	
	60%
	{
		transform: translateX(2px);
		wash-color: colorEnemy;
	}
	
	61%
	{
		transform: translateX(-2px);
		wash-color: keybindBGColor;
	}
	
	100%
	{
		transform: translateX(-2px);
		wash-color: keybindBGColor;
	}
	
}


/* Minecraft healthbar ability icon overrides */
.minecraft_healthbar_active .abilitiesContainer .ability_container
{
	overflow: squish;
}

.minecraft_healthbar_active .abilitiesContainer #hud_signature .ability_container,
.minecraft_healthbar_active .wants_scoreboard .gShopOpen #hud_signature .ability_container,
.minecraft_healthbar_active .gDetailView .gShopOpen #hud_signature .ability_container,
.minecraft_healthbar_active .gShopOpen #hud_signature .ability_container
{
	height: 160px;
	width: 90px;
	margin: 0px -17.2px;
	padding: 0px;
}

.minecraft_healthbar_active .abilitiesContainer #slot_signature_2 #button_container,
.minecraft_healthbar_active .abilitiesContainer #slot_signature_3 #button_container
{
	margin-bottom: 0px;
}

.minecraft_healthbar_active .abilitiesContainer .button_container
{
	width: 44px;
	height: 49px;
	margin: 0px;
	transform: translateX(1px);
	horizontal-align: center;
}

.minecraft_healthbar_active .abilitiesContainer CitadelAbilityIcon.Tier1 .button_container
{
	width: 44px;
}

.minecraft_healthbar_active .abilitiesContainer .ability_bg
{
	visibility: collapse;
}

.minecraft_healthbar_active .abilitiesContainer .build_suggestion_container
{
	margin-bottom: 0px;
}

.minecraft_healthbar_active .abilitiesContainer #slot_signature_2 .build_suggestion_container,
.minecraft_healthbar_active .abilitiesContainer #slot_signature_3 .build_suggestion_container
{
	margin-bottom: 0px;
}

.minecraft_healthbar_active #hud_signature .build_next
{
	max-width: 50px;
	height: 10px;
	margin-left: 1px;
}

.minecraft_healthbar_active .abilitiesContainer .ability_ring
{
	visibility: collapse;
}

.minecraft_healthbar_active .abilitiesContainer .Tier1 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_0.vsvg");
}

.minecraft_healthbar_active .abilitiesContainer .Tier2 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_2_psd.vtex");
}

.minecraft_healthbar_active .abilitiesContainer .Tier3 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_3_psd.vtex");
}

.minecraft_healthbar_active .abilitiesContainer .signature.item_passive.Tier0 .ability_bg,
.minecraft_healthbar_active .abilitiesContainer .usingControllerSpecificGlyphs.isUsingController .signature.Tier0 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_0.vsvg");
}

.minecraft_healthbar_active .abilitiesContainer .signature.item_passive.Tier0.not_trained .ability_bg,
.minecraft_healthbar_active .usingControllerSpecificGlyphs.isUsingController .signature.Tier0.not_trained .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_1.vsvg");
}

.minecraft_healthbar_active .abilitiesContainer .signature.item_passive.Tier1 .ability_bg,
.minecraft_healthbar_active .usingControllerSpecificGlyphs.isUsingController .signature.Tier1 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_1.vsvg");
}

.minecraft_healthbar_active .abilitiesContainer .signature.item_passive.Tier2 .ability_bg,
.minecraft_healthbar_active .usingControllerSpecificGlyphs.isUsingController .signature.Tier2 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_2.vsvg");
}

.minecraft_healthbar_active .abilitiesContainer .signature.item_passive.Tier3 .ability_bg,
.minecraft_healthbar_active .usingControllerSpecificGlyphs.isUsingController .signature.Tier3 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_3.vsvg");
}

.minecraft_healthbar_active .abilitiesContainer .cooling_down .ability_bg,
.minecraft_healthbar_active .abilitiesContainer .ability_not_ready .ability_bg
{
	opacity: 0.05;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.minecraft_healthbar_active .abilitiesContainer .ability_upgradable .ability_image
{
	height: 100%;
}

.minecraft_healthbar_active .abilitiesContainer .hasBonusCounter .bonusCounter
{
	opacity: 1;
	z-index: 1;
}

.minecraft_healthbar_active .abilitiesContainer .ability_not_ready.hasBonusCounter .bonusCounter
{
	opacity: 0.3;
}

.minecraft_healthbar_active .abilitiesContainer .stack_charges
{
	width: 50%;
	border-radius: 6px;
	margin-bottom: 45px;
}

.minecraft_healthbar_active .abilitiesContainer .has_stack_charges .stack_charges
{
	height: 7px;
}

.minecraft_healthbar_active .abilitiesContainer #slot_signature_2 .stack_charges,
.minecraft_healthbar_active .abilitiesContainer #slot_signature_3 .stack_charges
{
	margin-bottom: 45px;
}

.minecraft_healthbar_active .abilitiesContainer .stack_charges .ProgressBarMiddle
{
	background-color: #9C5EFF;
}

.minecraft_healthbar_active .abilitiesContainer .stack_charges .ProgressBarRight
{
	background-color: #4F3080DD;
}

.minecraft_healthbar_active .abilitiesContainer .wants_scoreboard CitadelHudAbilities CitadelHudAbilityUpgradePips,
.minecraft_healthbar_active .abilitiesContainer .gDetailView CitadelHudAbilities CitadelHudAbilityUpgradePips,
.minecraft_healthbar_active .abilitiesContainer .gShopOpen CitadelHudAbilities:hover CitadelHudAbilityUpgradePips,
.minecraft_healthbar_active .abilitiesContainer .alwaysShowPips CitadelHudAbilityUpgradePips
{
	visibility: visible;
	background-color: none;
}

.minecraft_healthbar_active .abilitiesContainer .image_container
{
	height: 90%;
}

.minecraft_healthbar_active .abilitiesContainer .cooldown_timer
{
	font-size: 22px;
	margin-left: 3px;
	margin-top: 4px;
	width: 100%;
	height: 50%;
	font-family: "Mojang";
}

.minecraft_healthbar_active .abilitiesContainer #cooldown_mask
{
	transform: scale3d(-2, 2, 2);
}

.minecraft_healthbar_active .abilitiesContainer .ability_not_ready .ability_image
{
	wash-color: offBlack;
}

.minecraft_healthbar_active .abilitiesContainer .not_trained .ability_image
{
	wash-color: offWhite;
	height: 90%;
	opacity: 0.2;
}

.minecraft_healthbar_active .abilitiesContainer .ability_image
{
	wash-color: offWhite;
	contrast: 0;
	height: 90%;
}

.minecraft_healthbar_active .abilitiesContainer #ability_subcasts
{
	ui-scale: 75%;
	margin-top: 91px;
}

.minecraft_healthbar_active .abilitiesContainer .subcast_icon_container
{
	height: 18px;
	width: 18px;
	margin: 0px 1px;
}

.minecraft_healthbar_active .abilitiesContainer .Tier3 .subcast_icon_container:nth-child(1),
.minecraft_healthbar_active .abilitiesContainer .Tier3 .subcast_icon_container:nth-child(4)
{
	margin-top: 8px;
}

.minecraft_healthbar_active #hud_signature .hasBonusCounter #BonusContainer
{
	opacity: 1;
	margin-top: 108px;
	height: 40px;
	width: 55%;
	margin-left: 1px;
}

.minecraft_healthbar_active #hud_signature #slot_signature_2 #BonusContainer,
.minecraft_healthbar_active #hud_signature #slot_signature_3 #BonusContainer
{
	margin-top: 108px;
}

.minecraft_healthbar_active .abilitiesContainer #hud_signature .bonusCounter
{
	color: offWhite;
	padding: 1px;
	font-family: "Mojang";
	width: 100%;
	text-align: center;
	vertical-align: bottom;
	text-shadow: 0px 0px 4.0 offBlack&90;
	font-size: 16px;
}

.minecraft_healthbar_active .abilitiesContainer #hud_signature .bonusBG
{
	visibility: collapse;
}

.minecraft_healthbar_active .abilitiesContainer .ability_upgradable .image_container
{
	opacity: 0.6;
	wash-color: offWhite;
}

.minecraft_healthbar_active .abilitiesContainer .not_trained .image_container
{
	saturation: 1;
}

.minecraft_healthbar_active.AspectRatio16x9 .abilitiesContainer .stack_charges,
.minecraft_healthbar_active .AspectRatio16x9 .abilitiesContainer .stack_charges,
.minecraft_healthbar_active.AspectRatio16x10 .abilitiesContainer .stack_charges,
.minecraft_healthbar_active .AspectRatio16x10 .abilitiesContainer .stack_charges
{
	margin-left: 5px;
}

.minecraft_healthbar_active.AspectRatio16x9 .abilitiesContainer .button_container,
.minecraft_healthbar_active .AspectRatio16x9 .abilitiesContainer .button_container,
.minecraft_healthbar_active.AspectRatio16x10 .abilitiesContainer .button_container,
.minecraft_healthbar_active .AspectRatio16x10 .abilitiesContainer .button_container
{
	transform: translate3d(2px, -1px, 0px);
}
.minecraft_healthbar_active .abilities_container .HasKeyBind .ability_key_container
{
	visibility: collapse;
}

.minecraft_healthbar_active .hasSubAbility #SubAbility
{
	visibility: collapse;
}
