/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_paused.vcss_c");
CitadelPaused
{
	width: 80px;
	height: 80px;
	margin-top: 150px;
	margin-bottom: 0px;
	z-index: -1;
}

.connectedToLaneTraining #PausedGameContainer
{
	visibility: collapse;
}

#PausedCountdownLabel
{
	margin-right: 0px;
	font-size: 100px;
	margin-bottom: 0px;
}

.gShopOpen #PausedContainer
{
	visibility: collapse;
}

#PausedLabel
{
	transition-property: none;
	transition-duration: 0s;
	font-size: 58px;
}

.PausedTextMoved
{
	transform: none;
	visibility: collapse;
}

