/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

#MinimapRejuv,#MinimapRejuvBuff,#MinimapRejuvTime,#MinimapRejuvTimeBuff,#MinimapRejuvImg,#MinimapRejuvNum
{
	visibility: collapse;
	opacity: 0 !important;
	width: 0px !important;
	height: 0px !important;
	world-blur: none !important;
	margin: 0px !important;
	border: none;
}

.gamemode_streetbrawl #MinimapBuff,
.gamemode_streetbrawl #MinimapRejuv,
.gamemode_streetbrawl #MinimapRejuvBuff,
.gamemode_streetbrawl #MinimapBuffTime,
.gamemode_streetbrawl #MinimapRejuvTime,
.gamemode_streetbrawl #MinimapRejuvTimeBuff,
.gamemode_streetbrawl #MinimapBuffImg,
.gamemode_streetbrawl #MinimapRejuvImg,
.gamemode_streetbrawl #MinimapRejuvNum
{
	visibility: collapse;
	opacity: 0 !important;
	width: 0px !important;
	height: 0px !important;
	world-blur: none !important;
	margin: 0px !important;
	border: none;
}

#MinimapModContainer
{
	width: 500px;
	height: 500px;
	vertical-align: bottom;
	horizontal-align: left;
	z-index: 100;
}

#MinimapBuff,#MinimapRejuv
{
	visibility: visible;
	z-index: 99999;
}

#MinimapBuff
{
	background-color: rgba(12, 12, 12, 0.6);
	width: 32%;
	height: 10%;
	margin-bottom: 5%;
	margin-right: 7%;
	vertical-align: bottom;
	horizontal-align: right;
	perspective: 900;
	opacity: 1;
	transform: translateX(0px);
	transition-property: width,height;
	transition-duration: 0.15s;
	world-blur: ingameHudBlur;
	z-index: 99999;
	border-radius: 10px;
}

#MinimapRejuv
{
	background-color: rgba(12, 12, 12, 0.6);
	width: 32%;
	height: 10%;
	margin-bottom: 10%;
	margin-left: 7%;
	vertical-align: bottom;
	horizontal-align: left;
	perspective: 900;
	opacity: 1;
	transform: translateX(0px);
	transition-property: width,height;
	transition-duration: 0.15s;
	z-index: 99999;
	border-radius: 10px;
	overflow: hidden;
}

#MinimapRejuvBuff
{
	background-color: rgba(12, 12, 12, 0.6);
	width: 16%;
	height: 6%;
	margin-bottom: 5%;
	margin-left: 23%;
	vertical-align: bottom;
	horizontal-align: left;
	perspective: 900;
	opacity: 0;
	transform: translateX(0px);
	transition-property: width,height;
	transition-duration: 0.15s;
	z-index: 9999;
	border-radius: 8px;
	overflow: hidden;
}

#MinimapRejuvBuff.pop-out
{
	animation-name: pop-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	opacity: 1;
}

#MinimapRejuvBuff.pop-in
{
	animation-name: pop-in;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	opacity: 0;
}

#MinimapBuffTime
{
	font-size: 24px;
	color: offWhite&90;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 70%;
	margin-right: 30%;
	margin-bottom: 5%;
	font-weight: semi-bold;
	text-align: center;
	font-family: sansMono;
	z-index: 999999;
}

#MinimapRejuvTime
{
	font-size: 24px;
	color: offWhite&90;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 70%;
	margin-left: 30%;
	margin-bottom: 5%;
	font-weight: semi-bold;
	text-align: center;
	font-family: sansMono;
	z-index: 999999;
}

#MinimapRejuvTimeBuff
{
	font-size: 18px;
	color: yellow;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 70%;
	margin-bottom: 20%;
	font-weight: semi-bold;
	text-align: center;
	font-family: sansMono;
	z-index: 999999;
}

#MinimapBuffImg
{
	horizontal-align: right;
	vertical-align: center;
	height: 80%;
	width: 25%;
	margin-right: 13%;
}

#MinimapRejuvImg
{
	horizontal-align: left;
	vertical-align: center;
	height: 80%;
	width: 25%;
	margin-left: 13%;
	transform: rotateY(0deg);
	z-index: 999999;
}

#MinimapRejuvNum
{
	font-size: 16px;
	horizontal-align: center;
	vertical-align: center;
	width: 10%;
	height: 70%;
	margin-right: 50%;
	margin-top: 30%;
	font-weight: semi-bold;
	text-align: center;
	font-family: sansMono;
	z-index: 999999;
}

@keyframes 'rotate'
{
	0%
	{
		transform: rotateY(0deg);
	}
	
	25%
	{
		transform: rotateY(90deg);
	}
	
	50%
	{
		transform: rotateY(180deg);
	}
	
	75%
	{
		transform: rotateY(270deg);
	}
	
	100%
	{
		transform: rotateY(360deg);
	}
	
}

@keyframes 'rotate-reverse'
{
	0%
	{
		transform: rotateY(0deg);
	}
	
	25%
	{
		transform: rotateY(-90deg);
	}
	
	50%
	{
		transform: rotateY(-180deg);
	}
	
	75%
	{
		transform: rotateY(-270deg);
	}
	
	100%
	{
		transform: rotateY(-360deg);
	}
	
}

@keyframes 'pop-out'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

@keyframes 'pop-in'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#MinimapRejuvImg.rotating
{
	animation-duration: 0.8s;
	animation-iteration-count: 1;
}

#MinimapRejuvImg.rotating.buff
{
	animation-name: rotate;
}

#MinimapRejuvImg.rotating.reverse
{
	animation-name: rotate-reverse;
}

#MinimapRejuvImg.reverse
{
	wash-color: grey;
}

#MinimapRejuvImg.white
{
	wash-color: white;
}

