/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_ability_icon_passive.vcss_c");
.passive_cooldown_basic_active .ability_container
{
	flow-children: up;
	vertical-align: center;
	overflow: noclip;
	tooltip-position: right;
	transition-property: transform, wash-color, margin;
	transition-duration: 0.2s;
	opacity: 0.6;
}

.passive_cooldown_basic_active .items .ability_container.item_passive.Hidden
{
	visibility: visible;
}

.passive_cooldown_basic_active #hud_passive_items .isWeaponSlot .button_container
{
	wash-color: #FFFFFF00;
}

.passive_cooldown_basic_active #hud_passive_items .isVitalitySlot .button_container
{
	wash-color: #FFFFFF00;
}

.passive_cooldown_basic_active #hud_passive_items .isSpiritSlot .button_container
{
	wash-color: #FFFFFF00;
}

.passive_cooldown_basic_active #hud_passive_items .ability_image
{
	height: 100%;
}

.passive_cooldown_basic_active #hud_passive_items .button_container
{
	width: 100%;
	height: 100%;
}

.passive_cooldown_basic_active #hud_items .cooldown_timer,.passive_cooldown_basic_active #hud_passive_items .cooldown_timer
{
	font-size: 18px;
	vertical-align: bottom;
	margin-bottom: 24%;
}

.passive_cooldown_basic_active #hud_passive_items #cooldown_mask,#hud_passive_items.passive_cooldown_basic_active #cooldown_mask
{
	height: 100%;
	margin-top: 0px;
	overflow: noclip;
	transform: scale3d(-1.1, 1.4, 0);
}

.passive_cooldown_basic_active #hud_passive_items .button_container
{
	margin-top: 0px;
	background-color: #cacacaee;
	border-radius: 100%;
}

.passive_cooldown_basic_active #hud_passive_items .ability_container
{
	width: 45px;
	height: 45px;
	margin: 0px 5px;
}

.passive_cooldown_basic_active #hud_passive_items .ability_bg,.passive_cooldown_basic_active #hud_passive_items .ability_ring,.passive_cooldown_basic_active #hud_items .ability_ring
{
	visibility: visible;
}

.passive_cooldown_basic_active #hud_passive_items .cooldown_timer
{
	visibility: visible;
}

.passive_cooldown_advanced_active .passiveOffCooldown
{
	visibility: collapse;
	animation-name: none;
	opacity: 0;
}

.passive_cooldown_basic_active .passiveOffCooldown
{
	visibility: visible;
	animation-name: passivePop;
	animation-duration: 1s;
	opacity: 0.9;
	overflow: noclip;
}

@keyframes 'passivePop'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	
	25%
	{
		pre-transform-scale2d: 1.2;
	}
	
	50%
	{
		pre-transform-scale2d: 1.0;
	}
	
	75%
	{
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1.0;
	}
	
}


.minecraft_healthbar_active #slot_signature_2 #button_container,
.minecraft_healthbar_active #slot_signature_3 #button_container
{
	margin-bottom: 0px;
}
