/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_minimap.vcss_c");
.minimalist_minimap_active #map_render
{
	opacity: .9;
}

.minimalist_minimap_active .client_cone_fov.active
{
	opacity: 0;
}

.minimalist_minimap_active .map_button.shop_tunnel
{
	background-image: url("s2r://panorama/images/qollock/minimap_midtown_mid_tunnels_qollock_psd.vtex") !important;
}

.minimalist_minimap_active .map_button.doorman_doorway.ability_castrange
{
	transform: scaleX(1) scaleY(1) !important;
	pre-transform-scale2d: 1 !important;
}

.minimalist_minimap_active .map_button.doorman_doorway.ability_castrange #CastRange
{
	transform: scaleX(1) scaleY(1) !important;
	pre-transform-scale2d: 1 !important;
	width: 100%;
	height: 100%;
	border-radius: 9999px;
}

.gScoreboardOpen .map_button.player
{
	transform: scaleX(1) scaleY(1) !important;
	pre-transform-scale2d: 1.3 !important;
	border-radius: 50% !important;
	overflow: clip clip !important;
	clip: radial(50% 50%, 0deg, 360deg) !important;
}

.gScoreboardOpen .map_button.player.enlarge_entry
{
	transform: scaleX(1) scaleY(1) !important;
	pre-transform-scale2d: 1.5 !important;
}

.gScoreboardOpen .map_button.player #BackgroundImage,.gScoreboardOpen .map_button.player #MainImage,.gScoreboardOpen .map_button.player .button_image,.gScoreboardOpen .map_button.player .hero_button_image,.gScoreboardOpen .map_button.player .dead_button_image,.gScoreboardOpen .map_button.player .speaking_button_image
{
	border-radius: 50% !important;
	overflow: clip clip !important;
	clip: radial(50% 50%, 0deg, 360deg) !important;
}

.map_button.player.enemy,.map_button.player.enemy.active,.map_button.player.enemy.arrowUp,.map_button.player.enemy.arrowDown
{
	border-radius: 50% !important;
	overflow: clip clip !important;
	clip: radial(50% 50%, 0deg, 360deg) !important;
	transition-property: opacity !important;
}

.map_button.player.enemy #BackgroundImage,.map_button.player.enemy #MainImage,.map_button.player.enemy .button_image,.map_button.player.enemy .hero_button_image,.map_button.player.enemy .dead_button_image,.map_button.player.enemy .speaking_button_image,.map_button.player.enemy #ArrowImage,.map_button.player.enemy.active #BackgroundImage,.map_button.player.enemy.active #MainImage,.map_button.player.enemy.active .button_image,.map_button.player.enemy.active .hero_button_image,.map_button.player.enemy.active .dead_button_image,.map_button.player.enemy.active .speaking_button_image,.map_button.player.enemy.active #ArrowImage
{
	border-radius: 50% !important;
	overflow: clip clip !important;
	clip: radial(50% 50%, 0deg, 360deg) !important;
}

.map_button.idol_spawn
{
	z-index: 30 !important;
}

.qol_minimap_flip_active .button_image
{
	transform: scaleY(-1) scaleX(-1);
}

.qol_minimap_flip_active .map_button.mid_stairs.right_stairs
{
	transform: rotateZ(180deg);
}

.qol_minimap_flip_active .map_button.mid_stairs
{
	transform: rotateZ(180deg);
	transform: scaleY(-1);
}

.qol_minimap_flip_active .held_idol_image
{
	transform: rotateZ(180deg) translateX(-10px) translateY(-2px);
}

.qol_minimap_flip_active .map_button
{
	transform: scaleY(-1) scaleX(-1);
}

.qol_minimap_flip_active .map_button.powerup_spawn
{
	transform: rotateZ(180deg);
}

.qol_minimap_flip_active .map_button.boss_icon_t3
{
	transform: scaleY(-1) scaleX(-1);
}

.qol_minimap_flip_active .speaking_button_image
{
	transform: rotateZ(180deg);
}

.qol_minimap_flip_active .map_button.enlarge_entry
{
	transform: scaleY(-1.2) scaleX(-1.2);
}

.qol_minimap_flip_active .map_button.player
{
	transform: scaleY(-1) scaleX(-1);
	border-radius: 50% !important;
	overflow: clip clip !important;
	clip: radial(50% 50%, 0deg, 360deg) !important;
}

.qol_minimap_flip_active .map_button.player #BackgroundImage,.qol_minimap_flip_active .map_button.player #MainImage,.qol_minimap_flip_active .map_button.player .button_image,.qol_minimap_flip_active .map_button.player .hero_button_image,.qol_minimap_flip_active .map_button.player .dead_button_image,.qol_minimap_flip_active .map_button.player .speaking_button_image,.qol_minimap_flip_active .map_button.player #ArrowImage
{
	border-radius: 50% !important;
	overflow: clip clip !important;
	clip: radial(50% 50%, 0deg, 360deg) !important;
}

