/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_modifiers.vcss_c");
.fg_healthbar_active:not(.minimalist_healthbar_active) #modifier_progress
{
	border-radius: 25px;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) .buff #modifier_progress
{
	background-color: lightgreen;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) .debuff #modifier_progress
{
	background-color: red;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) .center_modifiers #bar_container
{
	width: 400px;
	border-radius: 25px;
	border: 1px solid #FFFFFF12;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) .center_modifiers #channel_and_name
{
	margin-left: 0px;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) .center_modifiers .bar_text_container
{
	width: fit-children;
	horizontal-align: center;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) .center_modifiers #bar_outline
{
	border: 0px solid transparent;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) .center_modifiers #bar_bg
{
	background-color: #11192850;
}

.budhud_healthbar_active .hud_modifiers
{
	ui-scale: 50%;
}

.budhud_healthbar_active CitadelHudModifiers_Entry
{
	margin: -5px;
}

.klutz_healthbar_active .center_modifiers
{
	margin-top: 80px;
}

