/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_quickbuy.vcss_c");
.disable_quick_buy_active.gShopOpen .HudQuickbuy,.disable_quick_buy_active .gShopOpen .HudQuickbuy
{
	visibility: collapse;
}

.support_4_3_active #QuickbuyShopSummary
{
	width: 200px;
	height: 85px;
	margin-left: 10px;
	margin-top: 10px;
}

.support_4_3_active .gShopOpen #QuickBuyQueueContainer
{
	width: 37%;
}

.support_4_3_active .gShopOpen #QuickbuyQueue
{
	padding-right: 0px;
}

.hud_shift_active .ItemsReady #HudMini
{
	margin-left: 480px;
}

.hud_shift_active #HudMini
{
	margin-left: 480px;
}

