/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

.searchContainer
{
	width: 100%;
	margin: 10px 0px -10px 10px;
	border-radius: 4px;
	border: 2px solid offWhite&06;
	background-color: #00000040;
}

