@import url("s2r://panorama/styles/base/unit_status_icons.vcss_c");

.minecraft_healthbar_active #gameplay_hud #stacks
{
	text-align: right;
	font-family: "Mojang";
}

.minecraft_healthbar_active CitadelHud #StatusEffectContainer
{
	height: fit-children;
}
