/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/ability_hud_elements/element_button_hint.vcss_c");
.zip_boost_active Citadel_AbilityHUDElement_ButtonHint
{
	vertical-align: center;
	horizontal-align: center;
	height: 20000px;
	width: 2000px;
}

.zip_boost_active #RightContainer
{
	margin-left: -2%;
	vertical-align: bottom;
	visibility: visible;
	height: 50px;
	margin-bottom: 19%;
}

.zip_boost_active #BottomContainer
{
	visibility: collapse;
}

