/* Prettified by Source 2 Viewer 17.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/ability_hud_elements/element_progress_bar.vcss_c");
.minimalist_healthbar_active .ability_element_progress
{
	margin-bottom: 350px;
}

.minimalist_healthbar_active Citadel_AbilityHUDElement_Progress.hero_chrono,
.minimalist_healthbar_active .hero_chrono.ability_element_progress
{
	margin-bottom: 0px;
}

.minimalist_healthbar_active .active.ability_element_progress
{
	animation-name: none;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) .ability_element_progress
{
	margin-bottom: 200px;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) Citadel_AbilityHUDElement_Progress.hero_chrono,
.fg_healthbar_active:not(.minimalist_healthbar_active) .hero_chrono.ability_element_progress
{
	margin-bottom: 0px;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) #channel_and_name
{
	width: 530px;
	margin-bottom: 85px;
	margin-left: 20px;
}

.fg_healthbar_active:not(.minimalist_healthbar_active) #hint_container
{
	margin-top: -5px;
}

.budhud_healthbar_active .ability_element_progress
{
	margin-bottom: 350px;
}

.budhud_healthbar_active Citadel_AbilityHUDElement_Progress.hero_chrono,
.budhud_healthbar_active .hero_chrono.ability_element_progress
{
	margin-bottom: 50px;
}

.budhud_healthbar_active .active.ability_element_progress
{
	animation-name: none;
}

.klutz_healthbar_active Citadel_AbilityHUDElement_Progress.hero_chrono,
.klutz_healthbar_active .hero_chrono.ability_element_progress
{
	margin-bottom: 50px;
}

