/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelShopModsFiltered
{
	height: 100%;
	width: 100%;
	flow-children: none;
	horizontal-align: center;
	background-size: cover;
}

CitadelShopModsFiltered #ModsContainer
{
	height: 100%;
	width: 100%;
	flow-children: down;
	overflow: squish scroll;
	horizontal-align: center;
	margin-top: 75px;
	background-size: cover;
}

.ShowingWeaponOnly CitadelShopModsFiltered #ModsContainer,.ShowingSpiritOnly CitadelShopModsFiltered #ModsContainer,.ShowingVitalityOnly CitadelShopModsFiltered #ModsContainer
{
	margin-top: 0px;
}

CitadelShopModsFiltered .tierRow.EmptyTier
{
	visibility: visible;
	opacity: 0.2;
	height: 40px;
}

CitadelShopModsFiltered #TreeHeaders
{
	width: 100%;
	height: 90px;
	background-color: offBlack&30;
	flow-children: right;
}

CitadelShopModsFiltered #TreeHeaders .tree_header_all
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/shop/catalog/filters/shop_filtered_tree_header_full_psd.vtex");
	background-size: 98% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.ShowingWeaponOnly CitadelShopModsFiltered #TreeHeaders,.ShowingSpiritOnly CitadelShopModsFiltered #TreeHeaders,.ShowingVitalityOnly CitadelShopModsFiltered #TreeHeaders
{
	visibility: collapse;
}

CitadelShopModsFiltered #ModTiers
{
	width: 100%;
	flow-children: down;
	margin: 0px 12px;
}

.ShowingWeaponOnly CitadelShopModsFiltered #ModTiers,.ShowingSpiritOnly CitadelShopModsFiltered #ModTiers,.ShowingVitalityOnly CitadelShopModsFiltered #ModTiers
{
	flow-children: none;
}

CitadelShopModsFiltered #TierSnapTail
{
	width: 100%;
	height: 0px;
	visibility: collapse;
}

.showingAllItems CitadelShopModsFiltered #TierSnapTail
{
	visibility: visible;
}

CitadelShopModsFiltered .tierRow
{
	flow-children: down;
	width: 100%;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow,.ShowingSpiritOnly CitadelShopModsFiltered .tierRow,.ShowingVitalityOnly CitadelShopModsFiltered .tierRow
{
	width: 47.5%;
	background-size: 100% 100%;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_1
{
	width: 500px;
	ignore-parent-flow: true;
	x: 44px;
	y: 120px;
	overflow: render;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_1 .CostLabel
{
	margin-left: -20px;
	margin-top: 0px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_1 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_2
{
	width: 540px;
	ignore-parent-flow: true;
	x: 510px;
	y: 10px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_2 .CostLabel
{
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_2 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 26px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_3
{
	width: 600px;
	ignore-parent-flow: true;
	x: 44px;
	y: 480px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_3 .CostLabel
{
	margin-left: -18px;
	margin-top: -21px;
	margin-bottom: 20px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_3 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 28px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_4
{
	width: 400px;
	ignore-parent-flow: true;
	x: 674px;
	y: 480px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_4 .CostLabel
{
	margin-left: 0px;
	margin-top: -28px;
	margin-bottom: 26px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_4 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 28px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_1
{
	width: 500px;
	ignore-parent-flow: true;
	x: 44px;
	y: 120px;
	overflow: render;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_1 .CostLabel
{
	margin-left: -20px;
	margin-top: 0px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_1 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_2
{
	width: 540px;
	ignore-parent-flow: true;
	x: 510px;
	y: 10px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_2 .CostLabel
{
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_2 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 26px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_3
{
	width: 500px;
	ignore-parent-flow: true;
	x: 44px;
	y: 480px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_3 .CostLabel
{
	margin-left: -18px;
	margin-top: -21px;
	margin-bottom: 20px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_3 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 28px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_4
{
	width: 550px;
	ignore-parent-flow: true;
	x: 510px;
	y: 480px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_4 .CostLabel
{
	margin-left: -15px;
	margin-top: -31px;
	margin-bottom: 30px;
}

.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_4 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 28px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_1
{
	width: 500px;
	ignore-parent-flow: true;
	x: 44px;
	y: 120px;
	overflow: render;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_1 .CostLabel
{
	margin-left: -20px;
	margin-top: 0px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_1 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_2
{
	width: 540px;
	ignore-parent-flow: true;
	x: 510px;
	y: 10px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_2 .CostLabel
{
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_2 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 26px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_3
{
	width: 500px;
	ignore-parent-flow: true;
	x: 44px;
	y: 480px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_3 .CostLabel
{
	margin-left: -18px;
	margin-top: -21px;
	margin-bottom: 20px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_3 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 28px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_4
{
	width: 560px;
	ignore-parent-flow: true;
	x: 510px;
	y: 480px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_4 .CostLabel
{
	margin-left: -15px;
	margin-top: -31px;
	margin-bottom: 30px;
}

.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_4 .CostLabel Label
{
	font-family: numericBlock;
	color: shardColor;
	text-shadow: none;
	font-size: 28px;
}

.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_2,.ShowingWeaponOnly CitadelShopModsFiltered .tierRow.EModTier_4,.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_2,.ShowingSpiritOnly CitadelShopModsFiltered .tierRow.EModTier_4,.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_2,.ShowingVitalityOnly CitadelShopModsFiltered .tierRow.EModTier_4
{
	margin-left: 20px;
}

CitadelShopModsFiltered .tierRow .CostSticker
{
	width: 100px;
	height: 45px;
	margin-left: -120px;
	ignore-parent-flow: true;
	background-size: contain;
	background-repeat: no-repeat;
}

CitadelShopModsFiltered .tierRow .CostLabel
{
	flow-children: right;
	horizontal-align: left;
	z-index: 10;
}

CitadelShopModsFiltered .tierRow .CostLabel Label
{
	width: 80px;
	font-size: 24px;
	color: offBlack;
	font-family: numericOracle;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 16px;
	margin-bottom: -20px;
	text-shadow: 0px 0px 0px 5.0 #a49376;
	opacity: 1;
	padding-top: 30px;
}

CitadelShopModsFiltered .tierRow:nth-child(1) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier1_psd.vtex");
	transform: rotateZ(-2deg);
}

CitadelShopModsFiltered .tierRow:nth-child(2) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier2_psd.vtex");
	transform: rotateZ(5deg);
}

CitadelShopModsFiltered .tierRow:nth-child(3) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier3_psd.vtex");
	height: 55px;
	transform: rotateZ(-3deg);
}

CitadelShopModsFiltered .tierRow:nth-child(4) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier4_psd.vtex");
	height: 200px;
	width: 120px;
}

CitadelShopModsFiltered .tierRow:nth-child(5) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier4_psd.vtex");
	height: 200px;
	width: 120px;
}

CitadelShopModsFiltered #ModLists
{
	vertical-align: top;
	flow-children: right;
	width: 100%;
	border-top: 2px solid offBlack&90;
}

.ShowingWeaponOnly CitadelShopModsFiltered #ModLists,.ShowingSpiritOnly CitadelShopModsFiltered #ModLists,.ShowingVitalityOnly CitadelShopModsFiltered #ModLists
{
	border-top: 2px solid offBlack&00;
}

CitadelShopModsFiltered #ModLists .mod_list_bg
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/shop/catalog/filters/filter_section_bg.vsvg");
	background-size: 100% 100%;
	opacity: 0;
}

.ShowingWeaponOnly CitadelShopModsFiltered #ModLists .mod_list_bg,.ShowingSpiritOnly CitadelShopModsFiltered #ModLists .mod_list_bg,.ShowingVitalityOnly CitadelShopModsFiltered #ModLists .mod_list_bg
{
	background-image: none;
}

.HasCategoryFilteredOut CitadelShopModsFiltered #ModLists .ModList
{
	width: 100%;
}

CitadelShopModsFiltered #ModLists .ModList
{
	width: 33%;
	margin: 3px 0px;
	padding: 6px 11px;
}

CitadelShopModsFiltered #ModLists .ModList.CategoryFilteredOut
{
	visibility: collapse;
}

CitadelShopModsFiltered #ModLists .ModList:nth-child(1) .mod_list_bg
{
	wash-color: courageDarkColor;
}

CitadelShopModsFiltered #ModLists .ModList:nth-child(2) .mod_list_bg
{
	wash-color: spiritDarkColor;
}

CitadelShopModsFiltered #ModLists .ModList:nth-child(3) .mod_list_bg
{
	wash-color: fortitudeDarkColor;
}

CitadelShopModsFiltered #ModLists .ModList.Empty .mod_list_bg
{
	opacity: 0.2;
}

CitadelShopModsFiltered #ModLists CitadelShopModsTier
{
	padding: 10px 0px;
}

CitadelShopModsFiltered #ModLists:nth-child(1)
{
	border-top: 0px solid offBlack&00;
}

CitadelShopModsFiltered VerticalScrollBar .ScrollThumb,CitadelShopModsFiltered HTMLVerticalScrollBar .ScrollThumb
{
	background-color: brandGreen&80;
}

