/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelShopModsRecommended
{
	height: 100%;
	width: 100%;
	flow-children: none;
	horizontal-align: center;
	background-size: cover;
}

CitadelShopModsRecommended #ModsContainer
{
	height: 100%;
	width: 100%;
	flow-children: down;
	horizontal-align: center;
	background-size: cover;
}

CitadelShopModsRecommended .AllowSearch CitadelShopMod
{
	visibility: collapse;
}

CitadelShopModsRecommended .AllowSearch CitadelShopMod.SearchMatch
{
	visibility: visible;
}

CitadelShopModsRecommended .Hidden
{
	visibility: visible;
	opacity: 0.2;
}

CitadelShopModsRecommended #PopularItemsHeader
{
	width: 100%;
	height: 80px;
	overflow: noclip;
	background-color: offWhite&95;
}

CitadelShopModsRecommended #PopularItemsHeader .recommendations_header_bg
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_shop_top_recommendations_header_psd.vtex");
	background-size: cover;
}

CitadelShopModsRecommended #PopularItemsHeader #HeroHeader
{
	flow-children: right;
	horizontal-align: left;
	margin-right: 250px;
	overflow: noclip;
	border-radius: 5px;
	padding-right: 6px;
}

CitadelShopModsRecommended #PopularItemsHeader #HeroContainer
{
	width: 60px;
	height: 60px;
	vertical-align: middle;
	ui-scale: 140%;
	margin-left: 30px;
}

CitadelShopModsRecommended #PopularItemsHeader #HeaderHeroImage
{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	horizontal-align: middle;
	margin: 5px;
	animation-name: UIGroove1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-frame-time: 0.5s;
}

CitadelShopModsRecommended #PopularItemsHeader #HeaderHeroLogo
{
	max-height: 50px;
	vertical-align: top;
	margin-top: 10px;
	min-width: 80px;
	max-width: 200px;
	padding: 6px;
	wash-color: offBlack;
	visibility: collapse;
}

CitadelShopModsRecommended #PopularItemsHeader #HeaderLabel
{
	margin: 6px;
	font-size: 30px;
	vertical-align: center;
	color: offBlack;
	font-style: italic;
	font-family: oracle;
	font-weight: bold;
	visibility: collapse;
}

CitadelShopModsRecommended #PopularItemsHeader .InfoIcon
{
	brightness: 0.7;
	wash-color: offBlack;
	vertical-align: top;
	margin-top: 26px;
}

CitadelShopModsRecommended #PopularItemsHeader .InfoIcon:hover
{
	brightness: 1.1;
}

CitadelShopModsRecommended #PopularItemsHeader .recommendatations_hero_bg
{
	horizontal-align: center;
	vertical-align: middle;
	width: 90%;
	height: 90%;
	background-size: cover;
	brightness: 1.2;
	-s2-mix-blend-mode: screen;
	saturation: 0;
	opacity: 0.3;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_header_weapon_psd.vtex");
	opacity-mask: url("s2r://panorama/images/shop/catalog/backer_star_test_png.vtex");
	animation-name: recommendedBackgroundPulse;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

CitadelShopModsRecommended #TreeHeaders
{
	width: 100%;
	height: 90px;
	flow-children: right;
}

CitadelShopModsRecommended #TreeHeaders .tree_header_all
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/shop/catalog/filters/shop_filtered_tree_header_full_psd.vtex");
	background-size: 98% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

CitadelShopModsRecommended #ModTiers
{
	width: 100%;
	flow-children: down;
	margin: 0px 12px;
	overflow: squish scroll;
}

CitadelShopModsRecommended .tierRow
{
	flow-children: down;
	width: 100%;
}

CitadelShopModsRecommended .tierRow .CostSticker
{
	width: 100px;
	height: 45px;
	margin-left: -120px;
	ignore-parent-flow: true;
	background-size: contain;
	background-repeat: no-repeat;
}

CitadelShopModsRecommended .tierRow .CostLabel
{
	flow-children: right;
	horizontal-align: left;
	z-index: 10;
}

CitadelShopModsRecommended .tierRow .CostLabel Label
{
	width: 80px;
	font-size: 24px;
	color: offBlack;
	font-family: numericOracle;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 16px;
	margin-bottom: -20px;
	text-shadow: 0px 0px 0px 5.0 #a49376;
	opacity: 1;
}

CitadelShopModsRecommended .tierRow:nth-child(1) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier1_psd.vtex");
	transform: rotateZ(-2deg);
}

CitadelShopModsRecommended .tierRow:nth-child(2) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier2_psd.vtex");
	transform: rotateZ(5deg);
}

CitadelShopModsRecommended .tierRow:nth-child(3) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier3_psd.vtex");
	height: 55px;
	transform: rotateZ(-3deg);
}

CitadelShopModsRecommended .tierRow:nth-child(4) .CostSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_tier4_psd.vtex");
	height: 200px;
	width: 120px;
}

CitadelShopModsRecommended #ModLists
{
	vertical-align: top;
	flow-children: right;
	width: 100%;
	border-top: 2px solid offBlack&90;
}

CitadelShopModsRecommended #ModLists .mod_list_bg
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/shop/catalog/filters/filter_section_bg.vsvg");
	background-size: 100% 100%;
	opacity: 0;
}

CitadelShopModsRecommended #ModLists .ModList
{
	width: 33%;
	margin: 3px 0px;
	padding: 6px 11px;
}

CitadelShopModsRecommended #ModLists .ModList:nth-child(1) .mod_list_bg
{
	wash-color: courageDarkColor;
}

CitadelShopModsRecommended #ModLists .ModList:nth-child(2) .mod_list_bg
{
	wash-color: spiritDarkColor;
}

CitadelShopModsRecommended #ModLists .ModList:nth-child(3) .mod_list_bg
{
	wash-color: fortitudeDarkColor;
}

CitadelShopModsRecommended #ModLists .ModList.Empty .mod_list_bg
{
	opacity: 0.2;
}

CitadelShopModsRecommended #ModLists CitadelShopModsTier
{
	padding: 10px 0px;
}

CitadelShopModsRecommended #ModLists:nth-child(1)
{
	border-top: 0px solid offBlack&00;
}

CitadelShopModsRecommended VerticalScrollBar .ScrollThumb,CitadelShopModsRecommended HTMLVerticalScrollBar .ScrollThumb
{
	background-color: brandGreen&80;
}

@keyframes 'recommendedBackgroundPulse'
{
	0%
	{
		transform: rotateZ(0deg) skew(22deg);
		pre-transform-scale2d: 1;
	}

	20%
	{
		pre-transform-scale2d: 0.9;
	}

	40%
	{
		pre-transform-scale2d: 1.05;
	}

	60%
	{
		pre-transform-scale2d: 0.9;
		transform: skew(2deg);
	}

	80%
	{
		pre-transform-scale2d: 1.05;
	}

	100%
	{
		transform: rotateZ(0deg) skew(22deg);
		pre-transform-scale2d: 1;
	}

}
