/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss");
@import url("s2r://panorama/styles/unit_status_icons.vcss");
@define Team1Color: #E7B659;
@define Team2Color: #5B79E6;
@define TeamNeutralColor: #5befb5;
@define TeamFriendColor: #FFEFD7;
@define TeamEnemyColor: #fd4949;
@define Team1DamageDeltaColor: #ffedb8;
@define Team2DamageDeltaColor: #ffedb8;
@define TeamNeutralDamageDeltaColor: #f24d4d;
@define TeamEnemyDamageDeltaColor: #ffe55b;
@define TeamFriendDamageDeltaColor: #504c47;
@define UnitPowerLevelColor_Default: #ffffff;
@define UnitPowerLevelColor_Threat:#c29345;
@define UnitPowerLevelColor_SuperThreat: #ab4949;
@define UnitPowerLevelColor_Weak: #676f85;
@define BulletShieldColor: #fcb43d;
@define TechShieldColor: #e29afd;
@define DropshadowColor: #12101880;
@define HealthbarEdgeWidth: 3.0;
@define health_total_lg_threshold: 4000;
@define health_total_md_threshold: 2000;
.WindowRoot
{
	width: 100%;
	height: 100%;
}

#UnitStatus
{
	width: fit-children;
	height: fit-children;
	width: 100px;
	height: 40px;
	horizontal-align: center;
	margin-top: 65px;
	padding: 0px;
	transition-property: pre-transform-scale2d, transform;
	transition-duration: 0.08s;
}

.boss_tier1 #UnitStatus,.boss_tier2 #UnitStatus,.boss_barracks #UnitStatus,.building #UnitStatus,.midboss #UnitStatus
{
	ui-scale: 180%;
}

.midboss #UnitStatus,.chesspiece #UnitStatus
{
	visibility: collapse;
}

.neutral_normal #UnitStatus,.neutral_weak #UnitStatus
{
	ui-scale: 80%;
}

.active_damage #UnitStatus
{
	animation-name: active_damage_wiggle;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.boss_barracks.active_damage #UnitStatus,.boss_tier1.active_damage #UnitStatus,.boss_tier2.active_damage #UnitStatus,.building.active_damage #UnitStatus
{
	animation-name: none;
	pre-transform-scale2d: 1;
}

@keyframes 'active_damage_wiggle'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	50%
	{
		transform: rotateZ(-3deg) skew(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

.beingSpectatedInEye #UnitStatus
{
	visibility: collapse;
}

#InfoHealthContainer
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	visibility: visible;
}

.neutral_vault #InfoHealthContainer
{
	visibility: collapse;
}

.health_hidden #InfoHealthContainer,.GameStatePreGame #InfoHealthContainer
{
	visibility: collapse;
}

.health_particle_active #InfoHealthContainer
{
	visibility: collapse;
}

.unit_info_panel
{
	width: 20px;
	height: width-percentage(100%);
	vertical-align: middle;
	horizontal-align: left;
	margin-top: -14px;
	flow-children: left;
	visibility: collapse;
	z-index: 10;
	opacity: 1;
}

.player .unit_info_panel
{
	visibility: visible;
}

#BulletShieldContainer
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_bullet_resist_low_psd.vtex");
	background-size: 100% 100%;
	width: 50%;
	height: 50%;
	visibility: visible;
}

#TechShieldContainer
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_tech_resist_low_psd.vtex");
	background-size: 100% 100%;
	width: 50%;
	height: 50%;
	visibility: visible;
	vertical-align: bottom;
}

#unit_info_bg
{
	width: 100%;
	height: 100%;
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_bg_psd.vtex");
	background-image: url("s2r://panorama/images/hud/icons/icon_ultimate_off_blk.vsvg");
	background-size: 100% 100%;
	horizontal-align: right;
	vertical-align: middle;
	z-index: 3;
}

.team_neutral #unit_info_bg
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_neutral_1_psd.vtex");
}

.boss_tier1 #unit_info_bg,.boss_tier2 #unit_info_bg,.boss_tier3 #unit_info_bg
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_boss_bg_psd.vtex");
}

.sentry #unit_info_bg
{
	visibility:collapse;
}

#unit_ult_ready_icon
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_bg_psd.vtex");
	background-image: url("s2r://panorama/images/hud/icons/icon_ultimate_blk.vsvg");
	background-size: 100%;
	background-position: center;
	visibility: collapse;
	brightness: 2;
}

.has_ultimate #unit_ult_ready_icon
{
	visibility: visible;
}

.boss_tier1 #unit_ult_ready_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_boss_tier1_psd.vtex");
}

.boss_tier2 #unit_ult_ready_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_boss_tier2_psd.vtex");
}

.boss_tier3 #unit_ult_ready_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_boss_tier3_psd.vtex");
}

.boss_barracks #unit_ult_ready_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_boss_barracks_psd.vtex");
}

.team1 #unit_ult_ready_icon
{
	wash-color: team1Color;
}

.team2 #unit_ult_ready_icon
{
	wash-color: team2Color;
}

.team_neutral #unit_ult_ready_icon
{
	wash-color: TeamNeutralColor;
}

.enemy #unit_ult_ready_icon
{
	wash-color: TeamEnemyColor;
}

.friend #unit_ult_ready_icon
{
	wash-color: TeamFriendColor;
}

#unit_resist_container
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
	vertical-align: middle;
	horizontal-align: left;
}

.UnitHealthbarContainer
{
	vertical-align: top;
	margin-left: 0px;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/hud/healthbar/healthbar_backer_horiz_mask_flipped.vsvg");
	height: 18px;
	width: 79px;
	vertical-align: top;
	margin-bottom: 0px;
	background-color: rgb(67, 12, 12);
}

.player .UnitHealthbarContainer
{
	margin-left: 13px;
}

.player.health_critical .ShowCriticalState .UnitHealthbarContainer
{
	margin-left: 20px;
}

.team1 .UnitHealthbarContainer
{
	background-color: team1ColorDark;
}

.team2 .UnitHealthbarContainer
{
	background-color: team2ColorDark;
}

.friend .UnitHealthbarContainer
{
	background-color: offBlack;
	background-color: rgb(4, 37, 23);
}

.team_neutral .UnitHealthbarContainer
{
	background-color: offBlack;
}

.enemy .UnitHealthbarContainer
{
	background-color: #2f0404;
	background-color: offBlack;
}

.enemy.health_critical .ShowCriticalState .UnitHealthbarContainer
{
	background-color: rgb(47, 4, 4);
}

.UnitHealthbarContainer.health_total_sm
{
	ui-scale: 100%;
}

#UnitHealthbarInner
{
	height: 12px;
	width: 69px;
	margin-top: 3.5px;
	margin-left: 6px;
	background-color: black;
	opacity-mask: url("s2r://panorama/images/hud/healthbar/healthbar_backer_horiz_mask_flipped.vsvg");
}

#UnitHealthbarInner .HealthAmount
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

#UnitHealthbarInner .HealthAmount.HasHealth
{
	visibility: visible;
}

.depleted #UnitHealthbarInner .HealthAmount.HasHealth
{
	visibility: collapse;
}

#UnitHealthbarLines
{
	height: 18px;
	width: 74px;
	margin-top: 2px;
	margin-left: 2px;
	opacity-mask: url("s2r://panorama/images/hud/healthbar/healthbar_backer_horiz_mask_flipped.vsvg");
	opacity: 1;
}

#UnitHealthbarLines .line_large,#UnitHealthbarLines .line_small
{
	background-color: offWhite;
}

.friend #UnitHealthbarLines .line_large,.team_neutral #UnitHealthbarLines .line_large,.friend #UnitHealthbarLines .line_small,.team_neutral #UnitHealthbarLines .line_small
{
	wash-color: offBlack;
	wash-color: rgb(4, 37, 23);
	opacity: 0.8;
}

.enemy #UnitHealthbarLines .line_large,.enemy #UnitHealthbarLines .line_small
{
	wash-color: rgb(80, 2, 2);
	wash-color: rgb(80, 2, 2);
	opacity: 0.6;
}

.spectating.team1 #UnitHealthbarLines .line_large,.spectating.team1 #UnitHealthbarLines .line_small
{
	wash-color: team1ColorDarker;
	opacity: 0.8;
}

.spectating.team2 #UnitHealthbarLines .line_large,.spectating.team2 #UnitHealthbarLines .line_small
{
	wash-color: team2ColorDarker;
	opacity: 0.8;
}

#UnitHealthbarLines .line_large.line_large,#UnitHealthbarLines .line_small.line_large
{
	width: 2px;
	height: 100px;
}

.boss_tier1 #UnitHealthbarLines .line_large.line_large,.boss_tier2 #UnitHealthbarLines .line_large.line_large,.barracks #UnitHealthbarLines .line_large.line_large,.building #UnitHealthbarLines .line_large.line_large,.health_total_lg #UnitHealthbarLines .line_large.line_large,.boss_tier1 #UnitHealthbarLines .line_small.line_large,.boss_tier2 #UnitHealthbarLines .line_small.line_large,.barracks #UnitHealthbarLines .line_small.line_large,.building #UnitHealthbarLines .line_small.line_large,.health_total_lg #UnitHealthbarLines .line_small.line_large
{
	width: 1.5px;
}

#UnitHealthbarLines .line_large.line_small,#UnitHealthbarLines .line_small.line_small
{
	width: 2px;
	height: 8px;
	vertical-align: bottom;
}

.boss_tier1 #UnitHealthbarLines .line_large.line_small,.boss_tier2 #UnitHealthbarLines .line_large.line_small,.barracks #UnitHealthbarLines .line_large.line_small,.building #UnitHealthbarLines .line_large.line_small,.health_total_lg #UnitHealthbarLines .line_large.line_small,.boss_tier1 #UnitHealthbarLines .line_small.line_small,.boss_tier2 #UnitHealthbarLines .line_small.line_small,.barracks #UnitHealthbarLines .line_small.line_small,.building #UnitHealthbarLines .line_small.line_small,.health_total_lg #UnitHealthbarLines .line_small.line_small
{
	width: 1px;
}

#UnitHealthbarsContainer
{
	margin-left: 0px;
	horizontal-align: middle;
	vertical-align: top;
	flow-children: down;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.enemy.health_critical .ShowCriticalState #UnitHealthbarsContainer
{
	animation-name: healthCritFlash3;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	pre-transform-scale2d: 1.2;
}

.UnitHealthbarContainer.healthbar_empty
{
	opacity: 0.9;
}

.enemy .UnitHealthbarContainer.healthbar_empty
{
	opacity: 0.4;
}

.boss_tier1 .UnitHealthbarContainer,.boss_tier2 .UnitHealthbarContainer,.boss_tier3 .UnitHealthbarContainer,.building .UnitHealthbarContainer
{
	pre-transform-scale2d: 1;
}

.sentry .UnitHealthbarContainer,.minion .UnitHealthbarContainer
{
	ui-scale: 70%;
}

.CLASS_NECRO_HAUNTINGSKULL .UnitHealthbarContainer
{
	visibility: collapse;
}

@keyframes 'healthCritFlash3'
{
	0%
	{
		pre-transform-scale2d: 1.1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.15;
		transform: rotateY(0deg) rotateX(0deg);
		brightness: 2;
	}
	
	100%
	{
		pre-transform-scale2d: 1.1;
		brightness: 1;
	}
	
}

.healthbar_border
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_backer_horiz_border.vsvg");
	background-size: 100% 150px;
	width: 100%;
	height: 100%;
	z-index: 10;
	ignore-parent-flow: true;
	wash-color: offBlack;
	opacity: 1;
}

#unit_healthbar_lagging .healthbar_border
{
	opacity: 1;
	border: 10px solid yellow;
	background-size: 100% 150px;
}

.friend .healthbar_border,.team_neutral .healthbar_border
{
	wash-color: offBlack;
}

.enemy .healthbar_border
{
	wash-color: rgb(80, 2, 2);
	wash-color: offBlack;
}

.spectating.friend.team1 .healthbar_border,.spectating.enemy.team1 .healthbar_border
{
	wash-color: team1ColorDarker;
}

.spectating.friend.team2 .healthbar_border,.spectating.enemy.team2 .healthbar_border
{
	wash-color: team2ColorDarker;
}

.health_critical .ShowCriticalState .healthbar_border
{
	wash-color: #b82323;
}

.friend .healthbar_empty .healthbar_border
{
	wash-color: #383838;
	animation-name: allyHealthFlash;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.friend.health_critical .ShowCriticalState .healthbar_border
{
	wash-color: #383838;
	animation-name: allyHealthFlash;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

@keyframes 'allyHealthFlash'
{
	0%
	{
		wash-color: #383838;
	}
	
	50%
	{
		wash-color: #b82323;
		wash-color: #383838;
	}
	
	100%
	{
		wash-color: #383838;
	}
	
}

#unit_healthbar_missing
{
	width: 100%;
	height: 100%;
	visibility: visible;
	horizontal-align: left;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_missing_psd.vtex");
	background-size: cover;
}

#unit_healthbar_border_parent
{
	width: 100%;
	height: 100%;
}

@keyframes 'healthCritFlash'
{
	0%
	{
		border: 12px solid #b82323;
	}
	
	50%
	{
		border: 12px solid #b82323;
	}
	
	100%
	{
		border: 12px solid #b82323;
	}
	
}

#unit_healthbar_active_parent
{
	height: 100%;
	width: 100%;
	horizontal-align: left;
	flow-children: right;
	padding: 0px;
	background-color: none;
}

.healthbar_empty #unit_healthbar_active_parent
{
	background-color: rgb(0, 0, 0);
	background-color: rgb(74, 15, 15);
	background-color: offBlack;
}

.friend .healthbar_empty #unit_healthbar_active_parent
{
	background-color: rgb(0, 0, 0);
	background-color: offBlack;
}

#unit_healthbar_lagging
{
	horizontal-align: left;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	z-index: 3;
}

.team1 #unit_healthbar_lagging
{
	wash-color: team1Color;
}

.team2 #unit_healthbar_lagging
{
	wash-color: team2Color;
}

.enemy #unit_healthbar_lagging
{
	wash-color: TeamEnemyColor;
}

.spectating.team1.friend #unit_healthbar_lagging,.spectating.team1.enemy #unit_healthbar_lagging
{
	wash-color: team1Color;
	background-color: team1Color;
}

.spectating.team2.friend #unit_healthbar_lagging,.spectating.team2.enemy #unit_healthbar_lagging
{
	wash-color: team2Color;
	background-color: team2Color;
}

.friend #unit_healthbar_lagging
{
	wash-color: TeamFriendColor;
}

.team_neutral #unit_healthbar_lagging,.friend.team_neutral #unit_healthbar_lagging,.enemy.team_neutral #unit_healthbar_lagging
{
	wash-color: TeamNeutralColor;
}

.health_critical .ShowCriticalState #unit_healthbar_lagging
{
	animation-name: healthCritFlash2;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
}

@keyframes 'healthCritFlash2'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 1.2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

#unit_healthbar_delta
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	z-index: 5;
}

.healthbar_empty #unit_healthbar_delta
{
	visibility: collapse;
}

.team1 #unit_healthbar_delta
{
	wash-color: Team1DamageDeltaColor;
}

.team2 #unit_healthbar_delta
{
	wash-color: Team2DamageDeltaColor;
}

.team_neutral #unit_healthbar_delta
{
	wash-color: TeamNeutralDamageDeltaColor;
}

.enemy #unit_healthbar_delta
{
	wash-color: TeamEnemyDamageDeltaColor;
}

.friend #unit_healthbar_delta
{
	wash-color: #cc340a;
}

#unit_healthbar_healing
{
	horizontal-align: left;
	vertical-align: middle;
	flow-children: right;
	width: 0%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	wash-color: #5fff80;
	z-index: 5;
}

#unit_healthbar_deferred
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	wash-color: rgb(232, 127, 61);
	z-index: 5;
}

#unit_healthbar_pip_destruction
{
	horizontal-align: left;
	vertical-align: middle;
	flow-children: right;
	width: 32px;
	height: 380px;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	wash-color: white;
	z-index: 5;
	box-shadow: fill #488e4020 0px 0px 30px 0px;
	pre-transform-scale2d: 1.0, 10.8;
}

#unit_healthbar_bullet_shield
{
	min-width: 0%;
	max-width: 100%;
	width: 50%;
	height: 100%;
	background-color: orange;
	background-size: 1024px 128px;
	box-shadow: inset DropshadowColor 0px 8px 5px 0px;
}

.team1 #unit_healthbar_bullet_shield
{
	background-color: #e9e76a;
}

.team2 #unit_healthbar_bullet_shield
{
	background-color: #6a75e9;
}

.enemy #unit_healthbar_bullet_shield
{
	background-color: #ff8181;
}

.friend #unit_healthbar_bullet_shield
{
	background-color: #62cd30;
	background-color: rgb(183, 220, 255);
}

#unit_healthbar_ratking_armor
{
	min-width: 0%;
	max-width: 100%;
	width: 0%;
	height: 100%;
	background-color: #c7a674;
}

#state_container
{
	height: 100%;
	width: 100%;
	visibility: collapse;
}

#state_icon
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	horizontal-align: middle;
	vertical-align: middle;
	visibility: visible;
	overflow: noclip;
	brightness: 1;
}

#state_progressbar
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_state_progressbar_psd.vtex");
	background-size: 100%;
	z-index: -1;
}

.team1 #state_progressbar
{
	wash-color: team1Color;
}

.team2 #state_progressbar
{
	wash-color: team2Color;
}

.team_neutral #state_progressbar
{
	wash-color: TeamNeutralColor;
}

.enemy #state_progressbar
{
	wash-color: TeamEnemyColor;
}

.friend #state_progressbar
{
	wash-color: TeamFriendColor;
}

#bounty,#status,#stacks
{
	width: 100%;
	height: fit-children;
	font-size: 9px;
	color: #ffffffff;
	text-align: right;
	horizontal-align: left;
	vertical-align: top;
	visibility: collapse;
	text-shadow: 0px 0px 9px 12 DropshadowColor;
}

#name
{
	color: offWhite;
	font-size: 14px;
	margin-top: 47px;
	text-align: center;
	font-weight: bold;
	horizontal-align: middle;
	font-family: block;
	font-family: oracle;
	vertical-align: top;
	animation: none;
	text-shadow: 0px 0px 0px 4.0 offBlack&ee;
	padding: 0px 2px;
	brightness: 0.7;
	max-width: 170px;
	max-height: 20px;
	transform: rotateZ(-4deg);
	visibility: collapse;
	text-overflow: shrink;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

.NameFading #name
{
	opacity: 0.8;
}

.NameFaded #name
{
	opacity: 0;
}

.neutral_normal
{
	wash-color: shardColor&30;
}

.enemy #name
{
	color: TeamEnemyColor;
	color: #ff6a6a;
}

.spectating #name
{
	color: offWhite&80;
}

.team_neutral #name
{
	wash-color: shardColor;
	visibility: visible;
}

.weak_to_viewer .team_neutral #name
{
	wash-color: green;
}

.normal_to_viewer .team_neutral #name
{
	wash-color: yellow;
}

.strong_to_viewer .team_neutral #name
{
	wash-color: red;
}

.midboss #name
{
	visibility: collapse;
}

.team_neutral.weak_to_viewer #name
{
	wash-color: shardColor&90;
}

.team_neutral.normal_to_viewer #name
{
	wash-color: shardColor;
}

.team_neutral.strong_to_viewer #name
{
	wash-color: #e3b6b6;
}

.neutral_vault #name
{
	wash-color: shardColor&90;
	visibility: visible;
	transform: none;
}

.boss_barracks #name,.boss_tier1 #name,.boss_tier2 #name
{
	font-size: 18px;
	visibility: visible;
}

.GameStatePreGame.player #name,.player #name
{
	visibility: visible;
}

.HideName #name
{
	visibility: collapse;
}

.player.beingSpectatedInEye #name
{
	visibility: collapse;
}

.player.HideName #name
{
	visibility: collapse;
}

#TargetableIndicator
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/hud/healthbar/target_indicator.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	horizontal-align: middle;
	margin-top: 76px;
	visibility: collapse;
}

.team_neutral #TargetableIndicator
{
	wash-color: shardColor;
}

.friend #TargetableIndicator
{
	wash-color: offWhite;
}

.enemy #TargetableIndicator
{
	wash-color: #FB4949;
}

.CLASS_NECRO_HAUNTINGSKULL #TargetableIndicator
{
	visibility: visible;
}

.player .team_color
{
	visibility: visible;
}

.pulse_vertical
{
	animation-name: effect_pulse_vertical;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes 'effect_pulse_vertical'
{
	0%
	{
		pre-transform-scale2d: 1, 1.3;
		brightness: 3;
	}
	
	50%
	{
		pre-transform-scale2d: 1, 1.0;
		brightness: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1, 1;
		brightness: 1;
	}
	
}

.pulse_brightness
{
	animation-name: effect_pulse_brightness;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes 'effect_pulse_brightness'
{
	0%
	{
		brightness: 3;
	}
	
	50%
	{
		brightness: 1.5;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.health_critical .ShowCriticalState #unit_healthbar_bg
{
	animation-name: healthCritFlash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	wash-color: #b82323;
}

@keyframes 'healthCritFlash'
{
	0%
	{
		border: 12px solid #b82323;
		brightness: 1;
	}
	
	50%
	{
		border: 12px solid #b82323;
		brightness: 2;
	}
	
	100%
	{
		border: 12px solid #b82323;
		brightness: 1;
	}
	
}

#CriticalIndicator
{
	horizontal-align: center;
	ignore-parent-flow: true;
	margin-top: 80px;
	margin-left: -8px;
	margin-right: 22px;
	visibility: collapse;
}

#CriticalIndicator Label
{
	font-size: 12px;
	color: white;
	font-family: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5.0 colorEnemy;
	text-overflow: shrink;
	text-align: center;
	margin-right: 10px;
	padding: 6px 8px;
	max-width: 76px;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.health_critical .ShowCriticalState #CriticalIndicator
{
	visibility: visible;
}

#AssassinateIndicator
{
	horizontal-align: center;
	ignore-parent-flow: true;
	margin-top: 86px;
	margin-left: 0px;
	margin-right: 30px;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	visibility: collapse;
}

#AssassinateIndicator Label
{
	font-size: 8px;
	font-family: block;
	text-transform: uppercase;
	text-overflow: shrink;
	margin-left: 2px;
	padding: 6px 8px;
	max-width: 76px;
	margin-right: 12px;
	text-shadow: 0px 0px 4.0 offBlack;
	color: white;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-frame-time: 1s;
}

.Language_japanese #AssassinateIndicator Label
{
	max-height: 18px;
}

.health_assassinate #AssassinateIndicator
{
	visibility: visible;
}

@keyframes 'TagGroove1'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

#UnkillableIndicator
{
	horizontal-align: center;
	ignore-parent-flow: true;
	margin-top: 72px;
	margin-left: 0px;
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 70px;
	margin-left: 20px;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	visibility: collapse;
}

#UnkillableIndicator Label
{
	font-size: 18px;
	font-family: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 3.0 offBlack;
	text-overflow: shrink;
	opacity: 1;
	color: offWhite;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-frame-time: 1s;
}

.unkillable #UnkillableIndicator
{
	visibility: visible;
}

#StaminaContainer
{
	flow-children: right;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 9px;
}

.HideName #StaminaContainer
{
	margin-top: 28px;
}

.enemy #StaminaContainer
{
	wash-color: TeamEnemyColor;
}

.StaminaPip
{
	visibility: collapse;
	margin: 25px 1px 1px 1px;
}

.StaminaRecentlyUsed .StaminaPip
{
	visibility: visible;
}

.StaminaPip .StaminaPipIcon
{
	width: 8px;
	height: 12px;
	background-image: url("s2r://panorama/images/hud/healthbar/pip_stamina_filled_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

.StaminaPip.PipEmpty .StaminaPipIcon
{
	background-image: url("s2r://panorama/images/hud/healthbar/pip_stamina_filled_png.vtex");
	wash-color: offBlack;
}

#UnitHealthbarValue
{
	font-family: numericOracle;
	font-weight: bold;
	color: offWhite;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	z-index: 10;
	font-size: 18px;
	padding: 4px;
	opacity: 0;
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 1px;
	transform: rotateZ(-3deg);
	margin-left: 40px;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0s;
	visibility: collapse;
}

.ShowHealthValue #UnitHealthbarValue
{
	visibility: visible;
}

.ShowAllyHealthValue #UnitHealthbarValue
{
	visibility: visible;
}

.active_damage_by_local_player #UnitHealthbarValue,.ShowAllyHealthValue.active_damage #UnitHealthbarValue
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-delay: 1.5s;
}

.spectating #UnitHealthbarValue
{
	visibility: collapse;
}

.friend #UnitHealthbarValue
{
	margin-right: 20px;
}

.enemy #UnitHealthbarValue
{
	wash-color: rgb(255, 160, 160);
}

.team_neutral #UnitHealthbarValue
{
	wash-color: rgb(160, 255, 226);
}

.boss_tier1 #UnitHealthbarValue,.boss_tier2 #UnitHealthbarValue,.boss_barracks #UnitHealthbarValue,.building #UnitHealthbarValue
{
	ui-scale: 70%;
	margin-top: 5px;
	margin-right: 15px;
}

.unkillable #UnitHealthbarValue
{
	visibility: collapse;
}

#UnitShieldbarValue
{
	font-family: numericOracle;
	font-weight: bold;
	color: offWhite;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	z-index: 10;
	font-size: 18px;
	padding: 4px;
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 20px;
	transform: rotateZ(-3deg);
	margin-left: 40px;
	color: orange;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

#NeutralBounty
{
	horizontal-align: middle;
	visibility: collapse;
	flow-children: right;
	ui-scale: 70%;
	margin-top: 15px;
}

.team_neutral #NeutralBounty
{
	visibility: visible;
}

.midboss #NeutralBounty
{
	visibility: collapse;
}

#NeutralBounty #TierContainer
{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: offBlack&90;
	margin-right: 10px;
	vertical-align: middle;
	border: 2px solid offWhite&90;
	opacity: 0.8;
	horizontal-align: center;
	padding: 6px;
	visibility: collapse;
}

.neutral_weak #NeutralBounty #TierContainer
{
	wash-color: shardColor;
}

.neutral_normal #NeutralBounty #TierContainer
{
	wash-color: shardColor&50;
}

.neutral_strong #NeutralBounty #TierContainer
{
	wash-color: rgb(255, 134, 134);
	opacity: 1;
}

.neutral_vault #NeutralBounty #TierContainer
{
	visibility: collapse;
}

#NeutralBounty #TierContainer Label
{
	horizontal-align: center;
	vertical-align: middle;
	color: offWhite&90;
	font-family: oracle;
	margin-bottom: 2px;
	transform: translateY(-4px);
}

#NeutralBounty #TierContainer .difficulty_icon
{
	width: 100%;
	height: 100%;
	background-size: contain;
	horizontal-align: center;
	vertical-align: center;
	background-repeat: no-repeat;
}

.neutral_weak #NeutralBounty #TierContainer .difficulty_icon
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/bots_easy_png.vtex");
}

.neutral_normal #NeutralBounty #TierContainer .difficulty_icon
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/bots_med_png.vtex");
}

.neutral_strong #NeutralBounty #TierContainer .difficulty_icon
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/bots_hard_png.vtex");
}

#NeutralBounty #BountyContainer
{
	flow-children: right;
	background-color: offBlack&90;
	padding: 0px 8px;
	border-radius: 10px;
}

#NeutralBounty .icon_souls
{
	width: 16px;
	height: 20px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/hud/icons/icon_soul.vsvg");
	wash-color: shardColor;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 3px;
}

#NeutralBounty Label
{
	font-family: numericOracle;
	font-weight: bold;
	color: offWhite;
	font-size: 24px;
	vertical-align: middle;
}

#RejuvenatorActive
{
	width: 24px;
	height: 24px;
	horizontal-align: center;
	margin-top: 56px;
	margin-left: 94px;
	transform: rotateZ(6deg);
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_rejuv_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: collapse;
}

.has_rejuv #RejuvenatorActive
{
	visibility: visible;
}

#KillStreakIndicator
{
	width: 32px;
	height: 45px;
	margin-top: 48px;
	margin-left: 44px;
	z-index: -1;
	background-image: url("s2r://panorama/images/hud/healthbar/on_fire1_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	visibility: collapse;
}

.has_killstreak #KillStreakIndicator
{
	visibility: visible;
}

#UnitShieldbar,#UnitShieldbarValue
{
	visibility: collapse;
}

.midboss #UnitShieldbar,.midboss #UnitShieldbarValue
{
	visibility: visible;
}

